@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Admin Manage";
}

<div ng-controller="adminManager" ng-init="init('@TempData["Result"]', '@TempData["ErrorResult"]' )" class="row admin-manage">
    <div class="admin-manage-header start-align"><span class="glyphicon glyphicon-wrench"></span> Admin Manage</div>
    <div id="resultDiv" class="col-xs-10 col-xs-offset-2">
    </div>
</div>
<div class="row admin-manage">
    <div class="col-xs-2">
        <div class="sidebar-nav">
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-collapse collapse sidebar-navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Users", "IndexAdmin", "ApplicationUsers")</li>
                        <li>@Html.ActionLink("Companies", "IndexAdmin", "Companies")</li>
                        <li>@Html.ActionLink("Company Accounts", "Index", "CompanyAccounts")</li>
                        <li>@Html.ActionLink("Provider Accounts", "Index", "ProviderAccounts")</li>
                        <li>@Html.ActionLink("Providers", "Index", "Providers")</li>
                        <li>@Html.ActionLink("Roles", "Index", "Roles")</li>
                        <li>@Html.ActionLink("User Roles", "ManageUserRoles", "Roles")</li>
                        <li>@Html.ActionLink("Log", "Index", "LogInfo")</li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-10">
        @RenderBody()
    </div>
</div>
