@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Admin Manage";
}

<div ng-controller="AdminManager" ng-init="init('@TempData["Result"]', '@TempData["ErrorResult"]' )" class="row admin-manage">
    <div class="admin-manage-header text-center"><span class="glyphicon glyphicon-user"></span> Admin Manage</div>
    <div id="resultDiv" class="col-xs-12 col-xs-offset-0 col-lg-10 col-lg-offset-1">
    </div>
</div>


<div class="col-xs-12 order-navigation">
    <div class="col-xs-12 col-xs-offset-0 col-lg-10 col-lg-offset-1 btn-toolbar">
        <a class="btn btn-primary" href="@Url.Action("AdminIndex", "Manage")">Dashboard</a>
        <a class="btn btn-primary" href="@Url.Action("IndexAdmin", "ApplicationUsers")">Users</a>
        <a class="btn btn-primary" href="@Url.Action("IndexAdmin", "Companies")">Companies</a>
        <a class="btn btn-primary" href="@Url.Action("Index", "CompanyAccounts")">Company Accounts</a>
        <a class="btn btn-primary" href="@Url.Action("Index", "ProviderAccounts")">Provider Accounts</a>
        <a class="btn btn-primary" href="@Url.Action("Index", "Providers")">Providers</a>
        <a class="btn btn-primary" href="@Url.Action("Index", "Roles")">Roles</a>
        <a class="btn btn-primary" href="@Url.Action("ManageUserRoles", "Roles")">User Roles</a>
        <a class="btn btn-primary" href="@Url.Action("Index", "LogInfo")">Log</a>
        <a class="btn btn-primary" href="@Url.Action("IndexAdmin", "Notifications")">Notifications</a>
    </div>
</div>

<div class="">
    @RenderBody()
</div>