@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Admin Manage";
}

<div class="row admin-manage">
    <div class="col-xs-12">
        <div class="text-center admin-manage-header">Admin Manage</div>
        <p class="text-success">@ViewBag.StatusMessage</p>
    </div>
</div>
<div class="row admin-manage">
    <div class="col-xs-3">
        <div class="sidebar-nav">
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-collapse collapse sidebar-navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Users", "IndexAdmin", "ApplicationUsers")</li>
                        <li>@Html.ActionLink("Companies", "IndexAdmin", "Companies")</li>
                        <li>@Html.ActionLink("Company Accounts", "Index", "CompanyAccounts")</li>
                        <li>@Html.ActionLink("Provider Accounts", "Index", "ProviderAccounts")</li>
                        <li>@Html.ActionLink("Providers", "Index", "Providers")</li>
                        <li>@Html.ActionLink("Roles", "Index", "Roles")</li>
                        <li>@Html.ActionLink("User Roles", "ManageUserRoles", "Roles")</li>
                        <li>@Html.ActionLink("Log", "IndexAdmin", "Companies")</li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-9">
        @RenderBody()
    </div>
</div>
