@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Manage User";
}

<div class="row">
    <div class="col-xs-12">
        <h2>User Manage</h2>
        <p class="text-success">@ViewBag.StatusMessage</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-3">
        <div class="sidebar-nav">
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-collapse collapse sidebar-navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active">@Html.ActionLink("Password", "ManageUser_Password", "Manage")</li>
                        <li>@Html.ActionLink("External Logins", "ManageUser_ExternalLogin", "Manage")</li>
                        <li>@Html.ActionLink("Two-factor Authentication", "ManageUser_TwoFactor", "Manage")</li>
                        <li>@Html.ActionLink("User Information", "EditByUser", "ApplicationUsers")</li>
                        <li><a href="#">User Companies</a></li>
                        <li><a href="#">Company Accounts</a></li>
                        <li><a href="#">Provider Accounts</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="userManagerBody" class="col-xs-9">
        @RenderBody()
    </div>
</div>
