@model FlatFXWebClient.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Manage User";
}

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-xs-12">
        <h2>User Manage</h2>
    </div>
</div>
        <div class="row">
            <div class="col-xs-3">
                <div class="sidebar-nav">
                    <div class="navbar navbar-default" role="navigation">
                        <div class="navbar-collapse collapse sidebar-navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li class="active"><a onclick="$('#passwordSection').show()">Password</a></li>
                                <li><a onclick="$('#externalLoginSection').show()">External Logins</a></li>
                                <li><a onclick="$('#twoFactorSection').show()">Two-factor Authentication</a></li>
                                <li><a href="#">User Information</a></li>
                                <li><a href="#">User Companies</a></li>
                                <li><a href="#">Company Accounts</a></li>
                                <li><a href="#">Provider Accounts</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="userManagerBody" class="col-xs-9">

                <div id="passwordSection">
                    [
                    @if (Model.HasPassword)
                    {
                        @Html.ActionLink("Change your password", "ChangePassword")
                    }
                    else
                    {
                        @Html.ActionLink("Create", "SetPassword")
                    }
                    ]
                </div>
                <div id="externalLoginSection">
                    @Model.Logins.Count [
                    @Html.ActionLink("Manage", "ManageLogins") ]

                    @*
                        Phone Numbers can used as a second factor of verification in a two-factor authentication system.

                         See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                            for details on setting up this ASP.NET application to support two-factor authentication using SMS.

                         Uncomment the following block after you have set up two-factor authentication
                    *@
                    @*
                        <dt>Phone Number:</dt>
                        <dd>
                            @(Model.PhoneNumber ?? "None") [
                            @if (Model.PhoneNumber != null)
                            {
                                @Html.ActionLink("Change", "AddPhoneNumber")
                                @: &nbsp;|&nbsp;
                                @Html.ActionLink("Remove", "RemovePhoneNumber")
                            }
                            else
                            {
                                @Html.ActionLink("Add", "AddPhoneNumber")
                            }
                            ]
                        </dd>
                    *@
                </div>
                <div id="twoFactorSection">
                    <p>
                        There are no two-factor authentication providers configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                        for details on setting up this ASP.NET application to support two-factor authentication.
                    </p>
                    @*@if (Model.TwoFactor)
                        {
                            using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <text>Enabled
                                <input type="submit" value="Disable" class="btn btn-link" />
                                </text>
                            }
                        }
                        else
                        {
                            using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <text>Disabled
                                <input type="submit" value="Enable" class="btn btn-link" />
                                </text>
                            }
                        }*@
                </div>
            </div>
        </div>

        <script>
            $("#userManagerBody").hide();
            $("#externalLoginSection").hide();
            $("#TwoFactorInBody").hide();
        </script>
