@model FlatFXWebClient.ViewModels.DashboardIndexViewModel
@using FlatFXCore.BussinessLayer;

@{
    ViewBag.Title = "Dashboard";
}

<div ng-controller="Dashboard" class="DashboardDiv" ng-init="init('@Model.TabName')">
    <div class="col-xs-12 col-xs-offset-0 col-lg-10 col-lg-offset-1 btn-toolbar">
        <label class="btn btn-primary" ng-model="radioDataModel" btn-radio="'OpenDeals'" ng-change="changeData()">@FlatFXResources.Resources.OpenDeals</label>
        <label class="btn btn-primary" ng-model="radioDataModel" btn-radio="'DealHistory'" ng-change="changeData()">@FlatFXResources.Resources.DealHistory</label>
        <label class="btn btn-primary" ng-model="radioDataModel" btn-radio="'OpenOrders'" ng-change="changeData()">@FlatFXResources.Resources.OpenOrders</label>
        <label class="btn btn-primary" ng-model="radioDataModel" btn-radio="'OrderHistory'" ng-change="changeData()">@FlatFXResources.Resources.OrderHistory</label>
        <label class="btn btn-primary" ng-model="radioDataModel" btn-radio="'Statistics'" ng-change="changeData()">@FlatFXResources.Resources.Statistics</label>
        <label class="btn btn-primary" ng-model="radioDataModel" btn-radio="'SiteStatistics'" ng-change="changeData()">@FlatFXResources.Resources.SiteStatistics</label>
    </div>

    <div id="resultDiv" class="col-xs-10 col-xs-offset-1"></div>

    <div ng-show="radioDataModel == 'OpenDeals' || radioDataModel == 'DealHistory'">
        <div class="col-xs-12 col-xs-offset-0 col-lg-10 col-lg-offset-1 data-area">
            <table ng-table="dealTableParams" class="table table-responsive table-bordered table-hover table-striped ffx-ng-table" show-filter="true">
                @*<tr ng-repeat="deal in Deals | orderBy:orderByColumn">*@
                <tr ng-repeat="deal in $data">
                    <td title="'@FlatFXResources.Resources.DealId'" filter="{ DealId: 'number'}" sortable="'DealId'">{{ deal.DealId }}</td>
                    <td title="'@FlatFXResources.Resources.Status'" filter="{ Status: 'select'}" filter-data="DealStatusFilterData" sortable="'Status'">{{ deal.Status }}</td>
                    <td title="'@FlatFXResources.Resources.ContractDate'" filter="{ ContractDate: 'text'}" sortable="'ContractDate'">{{ deal.ContractDate.substring(6, 19) | date: 'yyyy-MM-dd HH:mm' }}</td>
                    <td title="'@FlatFXResources.Resources.BuySell'" filter="{ BuySell: 'select'}" filter-data="BuySellFilterData" sortable="'BuySell'">{{ (deal.BuySell == 1)? 'Buy' : 'Sell' }}</td>
                    <td title="'@FlatFXResources.Resources.ChargedAmount'" filter="{ AmountToExchangeChargedCurrency: 'text'}" sortable="'AmountToExchangeChargedCurrency'">{{ deal.AmountToExchangeChargedCurrency | number:0 }} {{ deal.ChargedCurrency }}</td>
                    <td title="'@FlatFXResources.Resources.CreditedAmount'" filter="{ AmountToExchangeCreditedCurrency: 'text'}" sortable="'AmountToExchangeCreditedCurrency'">{{ deal.AmountToExchangeCreditedCurrency | number:0 }} {{ deal.CreditedCurrency }}</td>
                    <td title="'@FlatFXResources.Resources.Rate'" filter="{ CustomerRate: 'number'}" sortable="'CustomerRate'">{{ deal.CustomerRate }}</td>
                    <td title="'@FlatFXResources.Resources.Commission'" filter="{ Commission: 'number'}" sortable="'Commission'">{{ deal.Commission | number:0 | currency:'$' }}</td>
                    <td title="'@FlatFXResources.Resources.Profit'" filter="{ CustomerTotalProfitUSD: 'number'}" sortable="'CustomerTotalProfitUSD'">{{ deal.CustomerTotalProfitUSD | number:0 | currency:'$' }}</td>
                    <td title="'@FlatFXResources.Resources.IsCanceled'" filter="{ IsCanceled: 'select'}" filter-data="IsCancelFilterData" sortable="'IsCanceled'">{{ deal.IsCanceled }}</td>
                    <td title="'@FlatFXResources.Resources.UserName'" filter="{ UserName: 'text'}" sortable="'UserName'">{{ deal.UserName }}</td>
                    <td title="'@FlatFXResources.Resources.StatusDetails'" filter="{ StatusDetails: 'text'}" sortable="'StatusDetails'">{{ deal.StatusDetails }}</td>
                </tr>
            </table>
        </div>
    </div>

    <div ng-show="radioDataModel == 'OpenOrders' || radioDataModel == 'OrderHistory'">
        <div class="col-xs-12 col-xs-offset-0 col-lg-10 col-lg-offset-1 data-area">
            <table ng-table="orderTableParams" class="table table-responsive table-bordered table-hover table-striped ffx-ng-table" show-filter="true">
                @*<tr ng-repeat="order in Orders | orderBy:orderByColumn2">*@
                <tr ng-repeat="order in $data">
                    <td title="'@FlatFXResources.Resources.OrderID'" filter="{ OrderId: 'number'}" sortable="'OrderId'">{{ order.OrderId }}</td>
                    <td title="'@FlatFXResources.Resources.Status'" filter="{ Status: 'select'}" filter-data="OrderStatusFilterData" sortable="'Status'">{{ order.Status }}</td>
                    <td title="'@FlatFXResources.Resources.OrderDate'" filter="{ OrderDate: 'text'}" sortable="'OrderDate'">{{ order.OrderDate.substring(6, 19) | date: 'yyyy-MM-dd HH:mm' }}</td>
                    <td title="'@FlatFXResources.Resources.BuySell'" filter="{ BuySell: 'select'}" filter-data="BuySellFilterData" sortable="'BuySell'">{{ (order.BuySell == 1)? 'Buy' : 'Sell' }}</td>
                    <td title="'@FlatFXResources.Resources.ChargedAmount'" filter="{ AmountToExchangeChargedCurrency: 'text'}" sortable="'AmountToExchangeChargedCurrency'">{{ order.AmountToExchangeChargedCurrency | number:0 }} {{ order.ChargedCurrency }}</td>
                    <td title="'@FlatFXResources.Resources.CreditedAmount'" filter="{ AmountToExchangeCreditedCurrency: 'text'}" sortable="'AmountToExchangeCreditedCurrency'">{{ order.AmountToExchangeCreditedCurrency | number:0 }} {{ order.CreditedCurrency }}</td>
                    <td title="'@FlatFXResources.Resources.Commission @FlatFXResources.Resources.Estimation'" filter="{ Commission: 'number'}" sortable="'Commission'">{{ order.Commission | number:0 | currency:'$' }}</td>
                    <td title="'@FlatFXResources.Resources.Profit @FlatFXResources.Resources.Estimation'" filter="{ CustomerTotalProfitUSD: 'number'}" sortable="'CustomerTotalProfitUSD'">{{ order.CustomerTotalProfitUSD | number:0 | currency:'$' }}</td>
                    <td title="'@FlatFXResources.Resources.MinimalPartnerExecutionAmount CCY1'" filter="{ MinimalPartnerExecutionAmountCCY1: 'number'}" sortable="'MinimalPartnerExecutionAmountCCY1'">{{ order.MinimalPartnerExecutionAmountCCY1 | number:0 }}</td>
                    <td title="'@FlatFXResources.Resources.ExpiryDate'" filter="{ ExpiryDate: 'number'}" sortable="'ExpiryDate'">{{ order.ExpiryDate.substring(6, 19) | date: 'yyyy-MM-dd HH:mm' }}</td>
                    <td title="'@FlatFXResources.Resources.AmountExecuted CCY1'" filter="{ AmountCCY1_Executed: 'number'}" sortable="'AmountCCY1_Executed'">{{ order.AmountCCY1_Executed | number:0 }}</td>
                    <td title="'@FlatFXResources.Resources.AmountRemainder CCY1'" filter="{ AmountCCY1_Remainder: 'number'}" sortable="'AmountCCY1_Remainder'">{{ order.AmountCCY1_Remainder | number:0 }}</td>
                    <td title="'@FlatFXResources.Resources.UserName'" filter="{ UserName: 'number'}" sortable="'UserName'">{{ order.UserName }}</td>
                    <td title="'@FlatFXResources.Resources.StatusDetails'" filter="{ StatusDetails: 'number'}" sortable="'StatusDetails'">{{ order.StatusDetails }}</td>
                    <td class="table-btn-td-2">
                        <a class="btn btn-default btn-sm" ng-click="EditOrder(order.OrderId)" ng-if="order.Status =='Waiting' "><span class=" glyphicon glyphicon-pencil"></span></a>
                        <button class="btn btn-danger btn-sm" ng-click="cancelOrder(order.OrderId, order)" ng-if="order.Status == 'Waiting'"><span class="glyphicon glyphicon-trash"></span></button>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div>
        <div class="col-xs-12 col-xs-offset-0 col-lg-10 col-lg-offset-1  companyarea" ng-show="radioDataModel == 'Statistics'">
            <br />
            <div class="row statistics-data">
                <div class="col-xs-3 col-md-2 dashboard-square key">@FlatFXResources.Resources.TotalVolume<br /><span class="value blue" ng-bind="CompanyVolume"></span></div>
                <div class="col-xs-3 col-md-2 dashboard-square key">@FlatFXResources.Resources.TodayVolume<br /><span class="value blue" ng-bind="CompanyTodayVolume"></span></div>
                <div class="col-xs-3 col-md-2 dashboard-square key">@FlatFXResources.Resources.TotalSavings<br /><span class="value green" ng-bind="CompanySavings"></span></div>
                <div class="col-xs-3 col-md-2 dashboard-square key">@FlatFXResources.Resources.NumOfDeals<br /><span class="value blue" ng-bind="CompanyNumberOfDeal"></span></div>
            </div>
            <br />
            <div class="col-xs-12 col-md-8">
                <span class="dashboard-chart-header">@FlatFXResources.Resources.DashboardHeader2</span>
                &nbsp;&nbsp;<input type="radio" ng-model="companyChart" value="Daily">@FlatFXResources.Resources.Daily&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" ng-model="companyChart" value="Monthly" />@FlatFXResources.Resources.Monthly
                <canvas id="dashboardCompanyDailyChart" class="dashboard-chart" ng-show="companyChart == 'Daily'"></canvas>
                <canvas id="dashboardCompanyMonthlyChart" class="dashboard-chart" ng-show="companyChart == 'Monthly'"></canvas>
            </div>
        </div>
        <div class="col-xs-12 col-xs-offset-0 col-lg-10 col-lg-offset-1  AllSiteArea" ng-show="radioDataModel == 'SiteStatistics'">
            <br />
            <div class="row statistics-data">
                <div class="col-xs-3 col-md-2 dashboard-square key">@FlatFXResources.Resources.TotalVolume<br /><span class="value blue" ng-bind="SiteTotalVolume"></span></div>
                <div class="col-xs-3 col-md-2 dashboard-square key">@FlatFXResources.Resources.TodayVolume<br /><span class="value blue" ng-bind="SiteTodayVolume"></span></div>
                <div class="col-xs-3 col-md-2 dashboard-square key">@FlatFXResources.Resources.TotalSavings<br /><span class="value green" ng-bind="SiteTotalSavings"></span></div>
                <div class="col-xs-3 col-md-2 dashboard-square key">@FlatFXResources.Resources.NumOfDeals<br /><span class="value blue" ng-bind="SiteTotalNumberOfDeals"></span></div>
            </div>
            <br />
            <div class="col-xs-12 col-md-8">
                <span class="dashboard-chart-header">@FlatFXResources.Resources.DashboardHeader4</span>
                &nbsp;&nbsp;<input type="radio" ng-model="siteChart" value="Daily">@FlatFXResources.Resources.Daily&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" ng-model="siteChart" value="Monthly" />@FlatFXResources.Resources.Monthly
                <canvas id="dashboardSiteDailyChart" class="dashboard-chart" ng-show="siteChart == 'Daily'">></canvas>
                <canvas id="dashboardSiteMonthlyChart" class="dashboard-chart" ng-show="siteChart == 'Monthly'"></canvas>
            </div>
        </div>
    </div>
</div>

