@model FlatFXWebClient.ViewModels.DashboardIndexViewModel
@using FlatFXCore.BussinessLayer;

@{
    ViewBag.Title = "Dashboard";
}

<div ng-controller="Dashboard" class="DashboardDiv" ng-init="init()">
    <div class="col-xs-10 col-xs-offset-1 btn-group">
        <label class="btn btn-primary" ng-model="radioDataModel" btn-radio="'OpenDeals'" ng-change="changeData()">Open Deals</label>
        <label class="btn btn-primary" ng-model="radioDataModel" btn-radio="'DealHistory'" ng-change="changeData()">Deal History</label>
        <label class="btn btn-primary" ng-model="radioDataModel" btn-radio="'OpenOrders'" ng-change="changeData()">Open Orders</label>
        <label class="btn btn-primary" ng-model="radioDataModel" btn-radio="'OrderHistory'" ng-change="changeData()">Order History</label>
        <label class="btn btn-primary" ng-model="radioDataModel" btn-radio="'Statistics'" ng-change="changeData()">Statistics</label>
        <label class="btn btn-primary" ng-model="radioDataModel" btn-radio="'SiteStatistics'" ng-change="changeData()">Site Statistics</label>
    </div>

    <div ng-show="radioDataModel == 'OpenDeals' || radioDataModel == 'DealHistory'">
        <div class="col-xs-10 col-xs-offset-1 data-area">
            <table class="table table-responsive table-bordered table-hover table-striped table-order-buy">
                <thead>
                    <tr class="second-header">
                        <th ng-class="orderByColumn == 'DealId' ? 'selected' :  ''"><a href="#" ng-click="changeSorting('DealId')">Deal Id</a></th>
                        <th ng-class="orderByColumn == 'Status' ? 'selected' :  ''"><a href="#" ng-click="changeSorting('Status')">Status</a></th>
                        <th ng-class="orderByColumn == 'ContractDate' ? 'selected' :  ''"><a href="#" ng-click="changeSorting('ContractDate')">Contract Date</a></th>
                        <th ng-class="orderByColumn == 'BuySell' ? 'selected' :  ''"><a href="#" ng-click="changeSorting('BuySell')">Buy/Sell</a></th>
                        @*<th ng-class="orderByColumn == 'ChargedCurrency' ? 'selected' :  ''"><a href="#" ng-click="changeSorting('ChargedCurrency')">Charged Currency</a></th>*@
                        <th ng-class="orderByColumn == 'AmountToExchangeChargedCurrency' ? 'selected' :  ''"><a href="#" ng-click="changeSorting('AmountToExchangeChargedCurrency')">Charged Amount</a></th>
                        @*<th ng-class="orderByColumn == 'CreditedCurrency' ? 'selected' :  ''"><a href="#" ng-click="changeSorting('CreditedCurrency')">Credited Currency</a></th>*@
                        <th ng-class="orderByColumn == 'AmountToExchangeCreditedCurrency' ? 'selected' :  ''"><a href="#" ng-click="changeSorting('AmountToExchangeCreditedCurrency')">Credited Amount</a></th>
                        <th ng-class="orderByColumn == 'CustomerRate' ? 'selected' :  ''"><a href="#" ng-click="changeSorting('CustomerRate')">Rate</a></th>
                        <th ng-class="orderByColumn == 'Commission' ? 'selected' :  ''"><a href="#" ng-click="changeSorting('Commission')">Commission USD</a></th>
                        <th ng-class="orderByColumn == 'CustomerTotalProfitUSD' ? 'selected' :  ''"><a href="#" ng-click="changeSorting('CustomerTotalProfitUSD')">Profit USD</a></th>
                        <th ng-class="orderByColumn == 'IsCanceled' ? 'selected' :  ''"><a href="#" ng-click="changeSorting('IsCanceled')">Is Canceled</a></th>
                        <th ng-class="orderByColumn == 'UserName' ? 'selected' :  ''"><a href="#" ng-click="changeSorting('UserName')">User Name</a></th>
                        <th ng-class="orderByColumn == 'StatusDetails' ? 'selected' :  ''"><a href="#" ng-click="changeSorting('StatusDetails')">Status Details</a></th>
                    </tr>
                </thead>
                <tbody>
                    @*<tr>
                            <td></td>
                            <td><input class="form-control" name="minAmountBuy" id="minAmountBuy" ng-model="minAmountBuy" /></td>
                            <td><input class="form-control" name="maxAmountBuy" id="maxAmountBuy" ng-model="maxAmountBuy" /></td>
                        </tr>*@
                    <tr ng-repeat="deal in Deals | orderBy:orderByColumn">
                        <td>{{ deal.DealId }}</td>
                        <td>{{ deal.Status }}</td>
                        <td>{{ deal.ContractDate | date:'medium'}}</td>
                        <td>{{ (deal.BuySell == 1)? 'Buy' : 'Sell' }}</td>
                        @*<td>{{ deal.ChargedCurrency }}</td>*@
                        <td>{{ deal.AmountToExchangeChargedCurrency | number:0 }} {{ deal.ChargedCurrency }}</td>
                        @*<td>{{ deal.CreditedCurrency }}</td>*@
                        <td>{{ deal.AmountToExchangeCreditedCurrency | number:0 }} {{ deal.CreditedCurrency }}</td>
                        <td>{{ deal.CustomerRate }}</td>
                        <td>{{ deal.Commission | number:0 }}</td>
                        <td>{{ deal.CustomerTotalProfitUSD | number:0 }}</td>
                        <td>{{ deal.IsCanceled }}</td>
                        <td>{{ deal.UserName }}</td>
                        <td>{{ deal.StatusDetails }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div>
        <div class="col-xs-10 col-xs-offset-1 companyarea" ng-show="radioDataModel == 'Statistics'">
            <br />
            <div class="row statistics-data">
                <div class="col-xs-2 dashboard-square key">@FlatFXResources.Resources.TotalVolume<br /><span class="value blue">@Model.CompanyVolume.ToString("N0")$</span></div>
                <div class="col-xs-2 dashboard-square key">@FlatFXResources.Resources.TodayVolume<br /><span class="value blue">@Model.CompanyTodayVolume.ToString("N0")$</span></div>
                <div class="col-xs-2 dashboard-square key">@FlatFXResources.Resources.TotalSavings<br /><span class="value green">@Model.CompanySavings.ToString("N0")$</span></div>
                <div class="col-xs-2 dashboard-square key">@FlatFXResources.Resources.NumOfDeals<br /><span class="value blue">@Model.CompanyNumberOfDeal.ToString("N0")</span></div>
            </div>
            <br />
            <div class="col-xs-8">
                <span class="dashboard-chart-header">@FlatFXResources.Resources.DashboardHeader2</span>
                &nbsp;&nbsp;<input type="radio" ng-model="companyChart" value="Daily">@FlatFXResources.Resources.Daily&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" ng-model="companyChart" value="Monthly" />@FlatFXResources.Resources.Monthly
                <canvas id="dashboardCompanyDailyChart" class="dashboard-chart" ng-show="companyChart == 'Daily'"></canvas>
                <canvas id="dashboardCompanyMonthlyChart" class="dashboard-chart" ng-show="companyChart == 'Monthly'"></canvas>
            </div>
        </div>
        <div class="col-xs-10 col-xs-offset-1 AllSiteArea" ng-show="radioDataModel == 'SiteStatistics'">
            <br />
            <div class="row statistics-data">
                <div class="col-xs-2 dashboard-square key">@FlatFXResources.Resources.TotalVolume<br /><span class="value blue">@Model.SiteTotalVolume.ToString("N0")$</span></div>
                <div class="col-xs-2 dashboard-square key">@FlatFXResources.Resources.TodayVolume<br /><span class="value blue">@Model.SiteTodayVolume.ToString("N0")$</span></div>
                <div class="col-xs-2 dashboard-square key">@FlatFXResources.Resources.TotalSavings<br /><span class="value green">@Model.SiteTotalSavings.ToString("N0")$</span></div>
                <div class="col-xs-2 dashboard-square key">@FlatFXResources.Resources.NumOfDeals<br /><span class="value blue">@Model.SiteTotalNumberOfDeals.ToString("N0")</span></div>
            </div>
            <br />
            <div class="col-xs-8">
                <span class="dashboard-chart-header">@FlatFXResources.Resources.DashboardHeader4</span>
                &nbsp;&nbsp;<input type="radio" ng-model="siteChart" value="Daily">@FlatFXResources.Resources.Daily&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" ng-model="siteChart" value="Monthly" />@FlatFXResources.Resources.Monthly
                <canvas id="dashboardSiteDailyChart" class="dashboard-chart" ng-show="siteChart == 'Daily'">></canvas>
                <canvas id="dashboardSiteMonthlyChart" class="dashboard-chart" ng-show="siteChart == 'Monthly'"></canvas>
            </div>
        </div>
    </div>
</div>

