@model FlatFXWebClient.ViewModels.DashboardIndexViewModel
@using FlatFXCore.BussinessLayer;

@{
    ViewBag.Title = "Dashboard";
}

<div ng-controller="Dashboard" class="DashboardDiv" ng-init="init()">
    <div class="col-xs-12 col-xs-offset-0 col-md-10 col-md-offset-1 btn-group">
        <label class="btn btn-primary" ng-model="radioDataModel" btn-radio="'OpenDeals'" ng-change="changeData()">@FlatFXResources.Resources.OpenDeals</label>
        <label class="btn btn-primary" ng-model="radioDataModel" btn-radio="'DealHistory'" ng-change="changeData()">@FlatFXResources.Resources.DealHistory</label>
        <label class="btn btn-primary" ng-model="radioDataModel" btn-radio="'OpenOrders'" ng-change="changeData()">@FlatFXResources.Resources.OpenOrders</label>
        <label class="btn btn-primary" ng-model="radioDataModel" btn-radio="'OrderHistory'" ng-change="changeData()">@FlatFXResources.Resources.OrderHistory</label>
        <label class="btn btn-primary" ng-model="radioDataModel" btn-radio="'Statistics'" ng-change="changeData()">@FlatFXResources.Resources.Statistics</label>
        <label class="btn btn-primary" ng-model="radioDataModel" btn-radio="'SiteStatistics'" ng-change="changeData()">@FlatFXResources.Resources.SiteStatistics</label>
    </div>

    <div ng-show="radioDataModel == 'OpenDeals' || radioDataModel == 'DealHistory'">
        <div class="col-xs-10 col-xs-offset-1 data-area">
            <table class="table table-responsive table-bordered table-hover table-striped table-order-buy">
                <thead>
                    <tr class="second-header">
                        <th ng-class="orderByColumn == 'DealId' ? 'selected' :  ''"><a href="#" ng-click="changeSorting('DealId')">@FlatFXResources.Resources.DealId</a></th>
                        <th ng-class="orderByColumn == 'Status' ? 'selected' :  ''"><a href="#" ng-click="changeSorting('Status')">@FlatFXResources.Resources.Status</a></th>
                        <th ng-class="orderByColumn == 'ContractDate' ? 'selected' :  ''"><a href="#" ng-click="changeSorting('ContractDate')">@FlatFXResources.Resources.ContractDate</a></th>
                        <th ng-class="orderByColumn == 'BuySell' ? 'selected' :  ''"><a href="#" ng-click="changeSorting('BuySell')">@FlatFXResources.Resources.BuySell</a></th>
                        <th ng-class="orderByColumn == 'AmountToExchangeChargedCurrency' ? 'selected' :  ''"><a href="#" ng-click="changeSorting('AmountToExchangeChargedCurrency')">@FlatFXResources.Resources.ChargedAmount</a></th>
                        <th ng-class="orderByColumn == 'AmountToExchangeCreditedCurrency' ? 'selected' :  ''"><a href="#" ng-click="changeSorting('AmountToExchangeCreditedCurrency')">@FlatFXResources.Resources.CreditedAmount</a></th>
                        <th ng-class="orderByColumn == 'CustomerRate' ? 'selected' :  ''"><a href="#" ng-click="changeSorting('CustomerRate')">@FlatFXResources.Resources.Rate</a></th>
                        <th ng-class="orderByColumn == 'Commission' ? 'selected' :  ''"><a href="#" ng-click="changeSorting('Commission')">@FlatFXResources.Resources.Commission USD</a></th>
                        <th ng-class="orderByColumn == 'CustomerTotalProfitUSD' ? 'selected' :  ''"><a href="#" ng-click="changeSorting('CustomerTotalProfitUSD')">@FlatFXResources.Resources.Profit USD</a></th>
                        <th ng-class="orderByColumn == 'IsCanceled' ? 'selected' :  ''"><a href="#" ng-click="changeSorting('IsCanceled')">@FlatFXResources.Resources.IsCanceled</a></th>
                        <th ng-class="orderByColumn == 'UserName' ? 'selected' :  ''"><a href="#" ng-click="changeSorting('UserName')">@FlatFXResources.Resources.UserName</a></th>
                        <th ng-class="orderByColumn == 'StatusDetails' ? 'selected' :  ''"><a href="#" ng-click="changeSorting('StatusDetails')">@FlatFXResources.Resources.StatusDetails</a></th>
                    </tr>
                </thead>
                <tbody>
                    @*<tr>
                            <td></td>
                            <td><input class="form-control" name="minAmountBuy" id="minAmountBuy" ng-model="minAmountBuy" /></td>
                            <td><input class="form-control" name="maxAmountBuy" id="maxAmountBuy" ng-model="maxAmountBuy" /></td>
                        </tr>*@
                    <tr ng-repeat="deal in Deals | orderBy:orderByColumn">
                        <td>{{ deal.DealId }}</td>
                        <td>{{ deal.Status }}</td>
                        <td>{{ deal.ContractDate.substring(6, 19) | date: 'yyyy-MM-dd HH:mm' }}</td>
                        <td>{{ (deal.BuySell == 1)? 'Buy' : 'Sell' }}</td>
                        <td>{{ deal.AmountToExchangeChargedCurrency | number:0 }} {{ deal.ChargedCurrency }}</td>
                        <td>{{ deal.AmountToExchangeCreditedCurrency | number:0 }} {{ deal.CreditedCurrency }}</td>
                        <td>{{ deal.CustomerRate }}</td>
                        <td>{{ deal.Commission | number:0 }}</td>
                        <td>{{ deal.CustomerTotalProfitUSD | number:0 }}</td>
                        <td>{{ deal.IsCanceled }}</td>
                        <td>{{ deal.UserName }}</td>
                        <td>{{ deal.StatusDetails }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div ng-show="radioDataModel == 'OpenOrders' || radioDataModel == 'OrderHistory'">
        <div class="col-xs-10 col-xs-offset-1 data-area">
            <table class="table table-responsive table-bordered table-hover table-striped table-order-buy">
                <thead>
                    <tr class="second-header">
                        <th ng-class="orderByColumn2 == 'OrderId' ? 'selected' :  ''"><a href="#" ng-click="changeSorting2('OrderId')">@FlatFXResources.Resources.OrderID</a></th>
                        <th ng-class="orderByColumn2 == 'Status' ? 'selected' :  ''"><a href="#" ng-click="changeSorting2('Status')">@FlatFXResources.Resources.Status</a></th>
                        <th ng-class="orderByColumn2 == 'OrderDate' ? 'selected' :  ''"><a href="#" ng-click="changeSorting2('OrderDate')">@FlatFXResources.Resources.OrderDate</a></th>
                        <th ng-class="orderByColumn2 == 'BuySell' ? 'selected' :  ''"><a href="#" ng-click="changeSorting2('BuySell')">@FlatFXResources.Resources.BuySell</a></th>
                        <th ng-class="orderByColumn2 == 'AmountToExchangeChargedCurrency' ? 'selected' :  ''"><a href="#" ng-click="changeSorting2('AmountToExchangeChargedCurrency')">@FlatFXResources.Resources.ChargedAmount</a></th>
                        <th ng-class="orderByColumn2 == 'AmountToExchangeCreditedCurrency' ? 'selected' :  ''"><a href="#" ng-click="changeSorting2('AmountToExchangeCreditedCurrency')">@FlatFXResources.Resources.CreditedAmount</a></th>
                        <th ng-class="orderByColumn2 == 'Commission' ? 'selected' :  ''"><a href="#" ng-click="changeSorting2('Commission')">@FlatFXResources.Resources.Commission USD @FlatFXResources.Resources.Estimation</a></th>
                        <th ng-class="orderByColumn2 == 'CustomerTotalProfitUSD' ? 'selected' :  ''"><a href="#" ng-click="changeSorting2('CustomerTotalProfitUSD')">@FlatFXResources.Resources.Profit USD @FlatFXResources.Resources.Estimation</a></th>
                        <th ng-class="orderByColumn2 == 'MinimalPartnerExecutionAmountCCY1' ? 'selected' :  ''"><a href="#" ng-click="changeSorting2('MinimalPartnerExecutionAmountCCY1')">@FlatFXResources.Resources.MinimalPartnerExecutionAmount CCY1</a></th>
                        <th ng-class="orderByColumn2 == 'ExpiryDate' ? 'selected' :  ''"><a href="#" ng-click="changeSorting2('ExpiryDate')">@FlatFXResources.Resources.ExpiryDate</a></th>
                        <th ng-class="orderByColumn2 == 'AmountCCY1_Executed' ? 'selected' :  ''"><a href="#" ng-click="changeSorting2('AmountCCY1_Executed')">@FlatFXResources.Resources.AmountExecuted CCY1</a></th>
                        <th ng-class="orderByColumn2 == 'AmountCCY1_Remainder' ? 'selected' :  ''"><a href="#" ng-click="changeSorting2('AmountCCY1_Remainder')">@FlatFXResources.Resources.AmountRemainder CCY1</a></th>
                        <th ng-class="orderByColumn2 == 'UserName' ? 'selected' :  ''"><a href="#" ng-click="changeSorting2('UserName')">@FlatFXResources.Resources.UserName</a></th>
                        <th ng-class="orderByColumn2 == 'StatusDetails' ? 'selected' :  ''"><a href="#" ng-click="changeSorting2('StatusDetails')">@FlatFXResources.Resources.StatusDetails</a></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="order in Orders | orderBy:orderByColumn2">
                        <td>{{ order.OrderId }}</td>
                        <td>{{ order.Status }}</td>
                        <td>{{ order.OrderDate.substring(6, 19) | date: 'yyyy-MM-dd HH:mm' }}</td>
                        <td>{{ (order.BuySell == 1)? 'Buy' : 'Sell' }}</td>
                        <td>{{ order.AmountToExchangeChargedCurrency | number:0 }} {{ order.ChargedCurrency }}</td>
                        <td>{{ order.AmountToExchangeCreditedCurrency | number:0 }} {{ order.CreditedCurrency }}</td>
                        <td>{{ order.Commission | number:0 }}</td>
                        <td>{{ order.CustomerTotalProfitUSD | number:0 }}</td>
                        <td>{{ order.MinimalPartnerExecutionAmountCCY1 | number:0 }}</td>
                        <td>{{ order.ExpiryDate.substring(6, 19) | date: 'yyyy-MM-dd HH:mm' }}</td>
                        <td>{{ order.AmountCCY1_Executed | number:0 }}</td>
                        <td>{{ order.AmountCCY1_Remainder | number:0 }}</td>
                        <td>{{ order.UserName }}</td>
                        <td>{{ order.StatusDetails }}</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div>
        <div class="col-xs-10 col-xs-offset-1 companyarea" ng-show="radioDataModel == 'Statistics'">
            <br />
            <div class="row statistics-data">
                <div class="col-xs-2 dashboard-square key">@FlatFXResources.Resources.TotalVolume<br /><span class="value blue">@Model.CompanyVolume.ToString("N0")$</span></div>
                <div class="col-xs-2 dashboard-square key">@FlatFXResources.Resources.TodayVolume<br /><span class="value blue">@Model.CompanyTodayVolume.ToString("N0")$</span></div>
                <div class="col-xs-2 dashboard-square key">@FlatFXResources.Resources.TotalSavings<br /><span class="value green">@Model.CompanySavings.ToString("N0")$</span></div>
                <div class="col-xs-2 dashboard-square key">@FlatFXResources.Resources.NumOfDeals<br /><span class="value blue">@Model.CompanyNumberOfDeal.ToString("N0")</span></div>
            </div>
            <br />
            <div class="col-xs-8">
                <span class="dashboard-chart-header">@FlatFXResources.Resources.DashboardHeader2</span>
                &nbsp;&nbsp;<input type="radio" ng-model="companyChart" value="Daily">@FlatFXResources.Resources.Daily&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" ng-model="companyChart" value="Monthly" />@FlatFXResources.Resources.Monthly
                <canvas id="dashboardCompanyDailyChart" class="dashboard-chart" ng-show="companyChart == 'Daily'"></canvas>
                <canvas id="dashboardCompanyMonthlyChart" class="dashboard-chart" ng-show="companyChart == 'Monthly'"></canvas>
            </div>
        </div>
        <div class="col-xs-10 col-xs-offset-1 AllSiteArea" ng-show="radioDataModel == 'SiteStatistics'">
            <br />
            <div class="row statistics-data">
                <div class="col-xs-2 dashboard-square key">@FlatFXResources.Resources.TotalVolume<br /><span class="value blue">@Model.SiteTotalVolume.ToString("N0")$</span></div>
                <div class="col-xs-2 dashboard-square key">@FlatFXResources.Resources.TodayVolume<br /><span class="value blue">@Model.SiteTodayVolume.ToString("N0")$</span></div>
                <div class="col-xs-2 dashboard-square key">@FlatFXResources.Resources.TotalSavings<br /><span class="value green">@Model.SiteTotalSavings.ToString("N0")$</span></div>
                <div class="col-xs-2 dashboard-square key">@FlatFXResources.Resources.NumOfDeals<br /><span class="value blue">@Model.SiteTotalNumberOfDeals.ToString("N0")</span></div>
            </div>
            <br />
            <div class="col-xs-8">
                <span class="dashboard-chart-header">@FlatFXResources.Resources.DashboardHeader4</span>
                &nbsp;&nbsp;<input type="radio" ng-model="siteChart" value="Daily">@FlatFXResources.Resources.Daily&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" ng-model="siteChart" value="Monthly" />@FlatFXResources.Resources.Monthly
                <canvas id="dashboardSiteDailyChart" class="dashboard-chart" ng-show="siteChart == 'Daily'">></canvas>
                <canvas id="dashboardSiteMonthlyChart" class="dashboard-chart" ng-show="siteChart == 'Monthly'"></canvas>
            </div>
        </div>
    </div>
</div>

