@model FlatFXWebClient.ViewModels.DashboardIndexViewModel
@using FlatFXCore.BussinessLayer;

@{
    ViewBag.Title = "Dashboard";
}

<div ng-controller="Dashboard" class="DashboardDiv" ng-init="init()">
    <div class="row">
        <div class="col-xs-6 CompanyArea">
            <h3 class="header"><u>Your company Statistics (@Model.CompanyName):</u></h3>
            <div class="row">
                <div class="col-xs-3 dashboard-square key">Total Volume ($):<br /><span class="value blue">@Model.CompanyVolume.ToString("N0")</span></div>
                <div class="col-xs-3 dashboard-square key">Today Volume ($):<br /><span class="value blue">@Model.CompanyTodayVolume.ToString("N0")</span></div>
                <div class="col-xs-3 dashboard-square key">Total Savings ($):<br /><span class="value green">@Model.CompanySavings.ToString("N0")</span></div>
                <div class="col-xs-3 dashboard-square key">#Deals:<br /><span class="value blue">@Model.CompanyNumberOfDeal.ToString("N0")</span></div>
            </div>
            <br />
            <br />
            <h5>Company Volume ($):</h5>
            <canvas id="dashboardCompanyChart" class="chart chart-doughnut" chart-data="siteChartData" chart-labels="siteChartLabels"></canvas>
        </div>
        <div class="col-xs-6 AllSiteArea">
            <h3 class="header"><u>Site Statistics (All Customers):</u></h3>
            <div class="row">
                <div class="col-xs-3 dashboard-square key">Total Volume ($):<br /><span class="value blue">@Model.SiteTotalVolume.ToString("N0")</span></div>
                <div class="col-xs-3 dashboard-square key">Today Volume ($):<br /><span class="value blue">@Model.SiteTodayVolume.ToString("N0")</span></div>
                <div class="col-xs-3 dashboard-square key">Total Savings ($):<br /><span class="value green">@Model.SiteTotalSavings.ToString("N0")</span></div>
                <div class="col-xs-3 dashboard-square key">#Deals:<br /><span class="value blue">@Model.SiteTotalNumberOfDeals.ToString("N0")</span></div>
            </div>
            <br />
            <br />
            <h5>Site Volume ($):</h5>
            <canvas id="dashboardSiteChart"></canvas>
        </div>
    </div>
</div>

