@using FlatFXCore.BussinessLayer;
@{
    Layout = "~/Views/Order/OrderLayout.cshtml";
    string mode = (TempData["mode"] == null) ? "OpenOrders" : TempData["mode"].ToString();
    ViewBag.Title = mode;
    string header = (mode == "OpenOrders") ? FlatFXResources.Resources.OpenOrders : FlatFXResources.Resources.OrderHistory;
}
<div ng-controller="OrderData" ng-init="init('@mode')">
    <div class="col-xs-12 col-xs-offset-0 col-lg-10 col-lg-offset-1 padding0">
        <div class="panel-danger form-horizontal order-book-panel padding0">
            <div class="panel-heading">
                <h3 class="panel-title">@header</h3>
            </div>
            <div class="panel-body start-align">
                <div id="resultDiv" class="col-xs-10 col-xs-offset-1"></div>
                <div class="col-xs-12 data-area">
                    <table ng-table="orderTableParams" class="table table-responsive table-bordered table-hover table-striped ffx-ng-table" show-filter="true">
                        @*<tr ng-repeat="order in Orders | orderBy:orderByColumn2">*@
                        <tr ng-repeat="order in $data">
                            <td title="'@FlatFXResources.Resources.OrderID'" filter="{ OrderId: 'number'}" sortable="'OrderId'">{{ order.OrderId }}</td>
                            <td title="'@FlatFXResources.Resources.Status'" filter="{ Status: 'select'}" filter-data="OrderStatusFilterData" sortable="'Status'">{{ order.Status }}</td>
                            <td title="'@FlatFXResources.Resources.OrderDate'" filter="{ OrderDate: 'text'}" sortable="'OrderDate'" class="table-wide-column-1">{{ order.OrderDate.substring(6, 19) | date: 'yyyy-MM-dd HH:mm' }}</td>
                            <td title="'@FlatFXResources.Resources.BuySell'" filter="{ BuySell: 'select'}" filter-data="BuySellFilterData" sortable="'BuySell'">{{ (order.BuySell == 1)? 'Buy' : 'Sell' }}</td>
                            <td title="'@FlatFXResources.Resources.ChargedAmount'" filter="{ AmountToExchangeChargedCurrency: 'text'}" sortable="'AmountToExchangeChargedCurrency'" class="table-wide-column-1">{{ order.AmountToExchangeChargedCurrency | number:0 }} {{ order.ChargedCurrency }}</td>
                            <td title="'@FlatFXResources.Resources.CreditedAmount'" filter="{ AmountToExchangeCreditedCurrency: 'text'}" sortable="'AmountToExchangeCreditedCurrency'" class="table-wide-column-1">{{ order.AmountToExchangeCreditedCurrency | number:0 }} {{ order.CreditedCurrency }}</td>
                            <td title="'@FlatFXResources.Resources.Commission @FlatFXResources.Resources.Estimation'" filter="{ Commission: 'number'}" sortable="'Commission'">{{ order.Commission | number:0 }}$</td>
                            <td title="'@FlatFXResources.Resources.Profit @FlatFXResources.Resources.Estimation'" filter="{ CustomerTotalProfitUSD: 'number'}" sortable="'CustomerTotalProfitUSD'">{{ order.CustomerTotalProfitUSD | number:0 }}$</td>
                            <td title="'@FlatFXResources.Resources.MinimalPartnerExecutionAmount CCY1'" filter="{ MinimalPartnerExecutionAmountCCY1: 'number'}" sortable="'MinimalPartnerExecutionAmountCCY1'">{{ order.MinimalPartnerExecutionAmountCCY1 | number:0 }}</td>
                            <td title="'@FlatFXResources.Resources.ExpiryDate'" filter="{ ExpiryDate: 'number'}" sortable="'ExpiryDate'" class="table-wide-column-1">{{ order.ExpiryDate.substring(6, 19) | date: 'yyyy-MM-dd HH:mm' }}</td>
                            <td title="'@FlatFXResources.Resources.AmountExecuted CCY1'" filter="{ AmountCCY1_Executed: 'number'}" sortable="'AmountCCY1_Executed'">{{ order.AmountCCY1_Executed | number:0 }}</td>
                            <td title="'@FlatFXResources.Resources.AmountRemainder CCY1'" filter="{ AmountCCY1_Remainder: 'number'}" sortable="'AmountCCY1_Remainder'">{{ order.AmountCCY1_Remainder | number:0 }}</td>
                            <td title="'@FlatFXResources.Resources.ClearingType'" filter="{ ClearingType: 'text'}" sortable="'ClearingType'">{{ order.ClearingType }}</td>
                            <td title="'@FlatFXResources.Resources.MinRate'" filter="{ MinRate: 'number'}" sortable="'MinRate'">{{ order.MinRate }}</td>
                            <td title="'@FlatFXResources.Resources.MaxRate'" filter="{ MaxRate: 'number'}" sortable="'MaxRate'">{{ order.MaxRate }}</td>
                            <td title="'@FlatFXResources.Resources.UserName'" filter="{ UserName: 'number'}" sortable="'UserName'">{{ order.UserName }}</td>
                            <td title="'@FlatFXResources.Resources.StatusDetails'" filter="{ StatusDetails: 'number'}" sortable="'StatusDetails'">{{ order.StatusDetails }}</td>
                            <td class="table-btn-td-2">
                                <a class="btn btn-default btn-sm" ng-click="EditOrder(order.OrderId)" ng-if="order.Status =='Waiting' "><span class=" glyphicon glyphicon-pencil"></span></a>
                                <button class="btn btn-danger btn-sm" ng-click="cancelOrder(order.OrderId, order)" ng-if="order.Status == 'Waiting'"><span class="glyphicon glyphicon-trash"></span></button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>