@model FlatFXWebClient.ViewModels.OrderViewModel
@using FlatFXCore.BussinessLayer;

@{
    Layout = "~/Views/Order/OrderLayout.cshtml";
    ViewBag.Title = "Create Order";
    string queryHeaderClass = (Model.WorkflowStage == 1) ? "active" : "disabled not-active";
    string confirmHeaderClass = (Model.WorkflowStage == 2) ? "active" : "disabled not-active";
    string summaryHeaderClass = (Model.WorkflowStage == 3) ? "active" : "disabled not-active";
    string panelClass = (Model.WorkflowStage == 2) ? "order-confirm" : "order-currency-exchange-stage";
    string panelHeader = (Model.WorkflowStage == 1) ? FlatFXResources.Resources.OrderHeader : ((Model.WorkflowStage == 2) ? @FlatFXResources.Resources.ConfirmYourOrder : @FlatFXResources.Resources.OrderSummary);
    if (Model.WorkflowStage == 1 && Model.OrderId == 0 && Model.MatchOrderId > 0)
    {
        panelHeader = FlatFXResources.Resources.CreateMatchOrder;
    }
    else if (Model.WorkflowStage == 1 && Model.OrderId > 0)
    {
        panelHeader = FlatFXResources.Resources.EditOrder;
    }
    string controllerAction = "CreateOrderIndex";
    if (Model.WorkflowStage == 2)
    {
        controllerAction = "Confim";
    }
    double MinimalPartnerExecutionAmountCCY1 = (Model.MinimalPartnerExecutionAmountCCY1.HasValue) ? Model.MinimalPartnerExecutionAmountCCY1.Value : 0;
    double dExpiryDate = (Model.ExpiryDate.HasValue) ? Model.ExpiryDate.Value.Subtract(new DateTime(1970, 1, 1)).TotalMilliseconds : 0;
}

<div ng-controller="OrderWorkflow"
     ng-init="init(@Model.WorkflowStage, '@Html.Raw(ApplicationInformation.Instance.IsDemoUser)', '@TempData["Result"]', '@TempData["ErrorResult"]', @Model.AmountCCY1, @dExpiryDate, @MinimalPartnerExecutionAmountCCY1, @Model.MatchMinAmount, @Model.MatchMaxAmount)"
     class="order-currency-exchange-main">

    @using (Html.BeginForm(controllerAction, "Order", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.OrderKey)
        @Html.HiddenFor(model => model.WorkflowStage)
        @Html.HiddenFor(model => model.OrderId)

        @Html.HiddenFor(model => model.MatchOrderId)
        @Html.HiddenFor(model => model.MatchMinAmount)
        @Html.HiddenFor(model => model.MatchMaxAmount)
        @Html.HiddenFor(model => model.MatchMidRate)
        @Html.HiddenFor(model => model.IsEdit)


        <div class="col-xs-12 col-xs-offset-0 col-lg-10 col-lg-offset-1 text-center padding0">
            <div class="panel-danger form-horizontal @panelClass padding0">
                <div class="panel-heading">
                    <h3 class="panel-title">@panelHeader</h3>
                    @if (Model.WorkflowStage == 2)
                    {
                        <div>
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                        </div>
                    }
                </div>
                <div class="panel-body">
                    <div class="text-center">
                        <div class="form-group">
                            <ul class="nav nav-pills nav-justified thumbnail setup-panel">
                                <li class="@queryHeaderClass">
                                    <a href="" style="text-decoration: none;">
                                        <h4 class="list-group-item-heading">
                                            @if (Model.WorkflowStage > 1)
                                            {
                                                <span class="glyphicon glyphicon-ok green"></span>
                                            }
                                            1. @FlatFXResources.Resources.OrderStep1Header
                                        </h4>
                                        <p class="list-group-item-text">@FlatFXResources.Resources.SmplTradeStep1Desc</p>
                                    </a>
                                </li>
                                <li class="@confirmHeaderClass">
                                    <a href="" style="text-decoration: none;">
                                        <h4 class="list-group-item-heading">
                                            @if (Model.WorkflowStage > 2)
                                            {
                                                <span class="glyphicon glyphicon-ok green"></span>
                                            }
                                            2. @FlatFXResources.Resources.OrderStep2Header
                                        </h4>
                                        <p class="list-group-item-text">@FlatFXResources.Resources.OrderStep2Desc</p>
                                    </a>
                                </li>
                                <li class="@summaryHeaderClass">
                                    <a href="" style="text-decoration: none;">
                                        <h4 class="list-group-item-heading">3. @FlatFXResources.Resources.OrderStep3Header</h4>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div id="resultDiv"></div>

                        @if (Model.WorkflowStage == 1)
                        {
                            <div>
                                @if (Model.OrderId == 0 && Model.MatchOrderId == 0)
                                {
                                    @Html.Partial("~/Views/Order/OrderCreation.cshtml", Model)
                                }
                                else if (Model.OrderId == 0 && Model.MatchOrderId > 0)
                                {
                                    @Html.Partial("~/Views/Order/OrderMatchCreation.cshtml", Model)
                                }
                                else
                                {
                                    @Html.Partial("~/Views/Order/OrderEdit.cshtml", Model)
                                }

                            </div>
                        }
                        else if (Model.WorkflowStage == 2)
                        {
                            <div>
                                @Html.Partial("~/Views/Order/OrderConfirm.cshtml", Model)
                            </div>
                        }
                        else
                        {
                            <div>
                                @Html.Partial("~/Views/Order/OrderSummary.cshtml", Model)
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    }
</div>
