@model FlatFXWebClient.ViewModels.OrderViewModel
@using FlatFXCore.BussinessLayer;

@{
    bool hasMatch = Model.MatchOrderId > 0;
    string estimationIF = "";
    if (!hasMatch)
    {
        estimationIF = FlatFXResources.Resources.EstimationByMidRate + " " + Model.MatchMidRate.ToString("N4");
    }
}

<div class="form-group">
    <label class="control-label col-xs-6">@FlatFXResources.Resources.OrderID:</label>
    <div class="col-xs-6 order-value">@Model.order.OrderId</div>
</div>
<div class="form-group">
    <label class="control-label col-xs-6">@FlatFXResources.Resources.CompanyName:</label>
    <div class="col-xs-6 order-value">
        @Model.order.CompanyAccount.Company.CompanyName
    </div>
</div>
<div class="form-group">
    <label class="control-label col-xs-6">@FlatFXResources.Resources.BankAccount:</label>
    <div class="col-xs-6 order-value">
        @Model.order.ChargedAccount.Provider.FullName @Model.order.ChargedAccount.AccountName
    </div>
</div>
<div class="form-group">
    <label class="control-label col-xs-6">@FlatFXResources.Resources.UserName:</label>
    <div class="col-xs-6 order-value">
        @Model.order.user.FullName
    </div>
</div>
<div class="form-group red">
    <div class="col-xs-6">
        <label class="control-label">@FlatFXResources.Resources.SellAmount @((Model.order.BuySell == Consts.eBuySell.Buy) ? estimationIF : ""):</label>
        @if (!hasMatch && Model.order.BuySell == Consts.eBuySell.Buy)
        {
            <div class="medium-line start-align">
                <span class="estimation">@Resources.EstimationByFinalDealRate_Order</span>
            </div>
        }
    </div>
    <div class="col-xs-6 order-value">
        @Model.order.SellAmount.ToString("N0") @Model.order.SellCurrency
    </div>
</div>
<div class="form-group green">
    <div class="col-xs-6">
        <label class="control-label">@FlatFXResources.Resources.BuyAmount @((Model.order.BuySell == Consts.eBuySell.Sell) ? estimationIF : ""):</label>
        @if (!hasMatch && Model.order.BuySell == Consts.eBuySell.Sell)
        {
            <div class="medium-line start-align">
                <span class="estimation">@Resources.EstimationByFinalDealRate_Order</span>
            </div>
        }
        <div class="medium-line start-align">
            <span>@Resources.OrderWarnningPartnerNotTransfer</span>
        </div>
    </div>
    <div class="col-xs-6 order-value">
        @Model.order.BuyAmount.ToString("N0") @Model.order.BuyCurrency
    </div>
</div>
<div class="form-group blue">
    <label class="control-label col-xs-6">@FlatFXResources.Resources.Rate:</label>
    <div class="col-xs-6 order-value">
        @((!hasMatch) ? FlatFXResources.Resources.MidRateOnMatch : (Model.MatchMidRate.ToString("N4") + "(" + FlatFXResources.Resources.MidRate + ")"))
    </div>
</div>
<div class="form-group">
    <label class="control-label col-xs-6">@FlatFXResources.Resources.YouSave @estimationIF:</label>
    <div class="col-xs-6 order-value">
        @Model.order.CustomerTotalProfitUSD_Estimation$
    </div>
</div>
<div class="form-group">
    <label class="control-label col-xs-6">@FlatFXResources.Resources.FlatFXCommission @estimationIF:</label>
    <div class="col-xs-6 order-value">
        @Model.order.FlatFXCommissionUSD_Estimation$ (@(CurrencyManager.Instance.GetOrderCommission(Model.order.AmountUSD_Estimation) * 100)%)
    </div>
</div>
<div class="form-group">
    <label class="control-label col-xs-6">@FlatFXResources.Resources.ExpiryDate:</label>
    <div class="col-xs-6 order-value">
        @(Model.order.ExpiryDate.HasValue ? Model.order.ExpiryDate.Value.ToString("yyyy-MM-dd") : "Good Till Cancel")
    </div>
</div>
@*<div class="form-group">
    <label class="control-label col-xs-6">@FlatFXResources.Resources.MinimalPartnerExecutionAmount:</label>
    <div class="col-xs-6 order-value">
        @(Model.order.MinimalPartnerExecutionAmountCCY1.HasValue ? (Model.order.MinimalPartnerExecutionAmountCCY1 + " " + Model.order.CCY1) : "Full Amount")
    </div>
</div>
<div class="form-group">
    <label class="control-label col-xs-6">@FlatFXResources.Resources.PvPEnabled:</label>
    <div class="col-xs-6 order-value">
        @(Model.order.PvPEnabled ? FlatFXResources.Resources.Yes : FlatFXResources.Resources.No)
    </div>
</div>*@
@*<div class="form-group">
            <label class="control-label col-xs-6">@FlatFXResources.Resources.EnsureOnLinePrice:</label>
            <div class="col-xs-6 order-value">
                @(Model.order.EnsureOnLinePrice ? FlatFXResources.Resources.Yes : FlatFXResources.Resources.No)
            </div>
        </div>
    <div class="form-group">
        <label class="control-label col-xs-6">@FlatFXResources.Resources.MinimalPartnerTotalVolumeUSD:</label>
        <div class="col-xs-6 order-value">
            @(Model.order.MinimalPartnerTotalVolumeUSD.HasValue ? (Model.order.MinimalPartnerTotalVolumeUSD + "$") : "None")
        </div>
    </div>*@
<div class="form-group">
    <label class="control-label col-xs-6">@FlatFXResources.Resources.Comment:</label>
    <div class="col-xs-6 order-value">
        @Model.order.Comment
    </div>
</div>
<div class="form-group">
    <br />
    <div class="text-center col-xs-12">
        <div class="end-align col-xs-2">
            <span id="confirm-countdown" class="countdown-enabled">{{ CountDown }}</span>
        </div>
        <div class="col-xs-10 start-align">
            @if (ApplicationInformation.Instance.IsDemoUser)
            {
                <input id="confirm-submit" type="submit" value="@FlatFXResources.Resources.ConfirmYourDEMOOrder" class="btn btn-primary" />
            }
            else
            {
                <input id="confirm-submit" type="submit" value="@FlatFXResources.Resources.ConfirmYourOrder" class="btn btn-primary" />
            }
            <a id="confirm-reorder" class="btn btn-primary" ng-show="CountDown == 0" href="@Url.Action("OrderBookIndex", "OrderBook")">@FlatFXResources.Resources.OrderBook</a>
        </div>
    </div>
</div>