@model FlatFXWebClient.ViewModels.OrderViewModel
@using FlatFXCore.BussinessLayer;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool officeHoursOn = true; // TradingSecurity.Instance.IsTradingEnabled;
    
    string OrderBook = FlatFXResources.Resources.OrderBook;
    string CreateNewOrder2 = FlatFXResources.Resources.CreateNewOrder2;
    string OpenOrders = FlatFXResources.Resources.OpenOrders;
    string OrderHistory = FlatFXResources.Resources.OrderHistory; 
    if (Request.Url.AbsoluteUri.Contains("/OrderBook"))
    {
        OrderBook = "<u>" + OrderBook + "</u>";
    }
    else if (Request.Url.AbsoluteUri.Contains("=OpenOrders"))
    {
        OpenOrders = "<u>" + OpenOrders + "</u>";
    }
    else if (Request.Url.AbsoluteUri.Contains("=OrderHistory"))
    {
        OrderHistory = "<u>" + OrderHistory + "</u>";
    }
    else
    {
        CreateNewOrder2 = "<u>" + CreateNewOrder2 + "</u>";
    }
    
    
}

<div class="order-system-wrapper">
    @*<div class="col-xs-12 col-xs-offset-0 col-lg-10 col-lg-offset-1 order-system-header">
        ExchangeP2P <span class="glyphicon glyphicon-user order-system-icon"></span><span class="glyphicon glyphicon-transfer order-system-icon"></span><span class="glyphicon glyphicon-user order-system-icon"></span>
    </div>*@
    <div class="col-xs-12 col-xs-offset-0 col-lg-10 col-lg-offset-1 order-navigation">
        <div class="btn-group">
            <a class="btn btn-lg btn-primary" href="@Url.Action("List", "OrderBook")">@Html.Raw(OrderBook)</a>
            <a class="btn btn-lg btn-danger" href="@Url.Action("Create", "Order")">@Html.Raw(CreateNewOrder2)</a>
            <a class="btn btn-lg btn-primary" href="@Url.Action("OrderData", "Order", new { mode = "OpenOrders" })">@Html.Raw(OpenOrders)</a>
            <a class="btn btn-lg btn-danger" href="@Url.Action("OrderData", "Order", new { mode = "OrderHistory" })">@Html.Raw(OrderHistory)</a>
        </div>
    </div>
    <div ng-controller="OrderLayout" ng-init="init('@Html.Raw(ApplicationInformation.Instance.IsDemoUser)')" class="order-currency-exchange-main">
        
        @if (!ApplicationInformation.Instance.IsDemoUser && !officeHoursOn)
        {
            @Html.Raw(FlatFXResources.Resources.TradingHours)
        }

        @if (officeHoursOn)
        {
            <div>
                @RenderBody()
            </div>
        }
    </div>
    @if (ApplicationInformation.Instance.IsDemoUser)
    {
        <div class="col-xs-12 col-xs-offset-0 col-lg-10 col-lg-offset-1 demoToLiveTrading">
            <span class="demo-to-real-label">@FlatFXResources.Resources.DemoEnvAlert</span>
            <a class="demo-to-real-button" href="@Url.Action("ConvertDemoToRealAccount", "Account")">@FlatFXResources.Resources.DemoEnvButtonTxt</a>
        </div>
    }
</div>