@model FlatFXWebClient.ViewModels.OrderViewModel
@using FlatFXCore.BussinessLayer;

<div class="start-align">
    <div>
        <span class="text-danger">@TempData["ErrorResult"]</span>
    </div>
    <h3 class="green">@FlatFXResources.Resources.OrderCreatedSuccessfully.</h3>
    <h4>@FlatFXResources.Resources.ConfirmationNumber: @Model.order.OrderId</h4>
    <br /><br />
    @FlatFXResources.Resources.OrderSummary1 <a href="@Url.Action("Index", "Home")">@FlatFXResources.Resources.Here</a>
    <br /><br />
    <div class="form-group">
        <div class="col-md-12">
            <div class="btn-group">
                <a class="btn btn-success" href="@Url.Action("Index", "Home")">@FlatFXResources.Resources.Home</a>
                <a class="btn btn-danger" href="@Url.Action("DashboardIndex", "Dashboard")">@FlatFXResources.Resources.OpenDeals</a>
                <a class="btn btn-success" href="@Url.Action("DashboardIndex", "Dashboard", new { TabName = "DealHistory" })">@FlatFXResources.Resources.DealHistory</a>
                <a class="btn btn-danger" href="@Url.Action("DashboardIndex", "Dashboard", new { TabName = "OpenOrders" })">@FlatFXResources.Resources.OpenOrders</a>
                <a class="btn btn-success" href="@Url.Action("DashboardIndex", "Dashboard", new { TabName = "OrderHistory" })">@FlatFXResources.Resources.OrderHistory</a>
                <a class="btn btn-danger" href="@Url.Action("DashboardIndex", "Dashboard", new { TabName = "Statistics" })">@FlatFXResources.Resources.Statistics</a>
            </div>
        </div>
    </div>
    <br /><br />
</div>
