@using FlatFXCore.BussinessLayer;
@{
    Layout = "~/Views/Order/OrderLayout.cshtml";
    ViewBag.Title = "Order Book";
}
<div ng-controller="OrderBook" ng-init="init('@Html.Raw(ApplicationInformation.Instance.IsDemoUser)')">
    <div class="col-xs-12 col-xs-offset-0 col-lg-10 col-lg-offset-1">
        <div class="panel-danger form-horizontal order-book-panel">
            <div class="panel-heading">
                <h3 class="panel-title">@FlatFXResources.Resources.OrderBook</h3>
            </div>
            <div class="panel-body start-align">
                <div class="form-group">
                    <label class="col-xs-3 orderbook-select-row" for="pairSelect">@FlatFXResources.Resources.SelectPair:</label>
                    <div class="col-xs-7">
                        <select class="form-control" name="pairSelect" id="pairSelect" ng-model="Key" ng-options="k as v for (k,v) in Pairs" ng-change="changePair()"></select>
                    </div>
                    <div class="col-xs-2">
                        <label class="orderbook-mid-rate-label">{{ MidRate }}</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4">@FlatFXResources.Resources.AmountRange ({{ CCY1() }})</label>
                    <div class="col-xs-8 col-sm-8 col-md-6">
                        <div class="orderbook-min">
                            <input class="form-control" name="minAmountBuy" id="minAmountBuy" ng-model="minAmountBuy" />
                        </div>
                        <div class="orderbook-max">
                            <input class="form-control" name="maxAmountBuy" id="maxAmountBuy" ng-model="maxAmountBuy" />
                        </div>
                    </div>
                </div>
                <remark class="red">@FlatFXResources.Resources.InterBankPvPCommissionWarning</remark>
                <div class="text-center">
                    <div class="col-xs-6 col-md-6 table-order-wrapper">
                        <table class="table table-responsive table-bordered table-hover table-striped table-order-buy">
                            <colgroup>
                                <col class="col-sm-2" />
                                <col class="col-sm-2" />
                                <col class="col-sm-2" />
                                <col class="col-sm-3" />
                                <col class="col-sm-3" />
                            </colgroup>
                            <thead>
                                <tr class="first-header">
                                    <th colspan="5" class="text-center">@FlatFXResources.Resources.buying {{ CCY1() }} @FlatFXResources.Resources.Sell2 {{ CCY2() }}</th>
                                </tr>
                                <tr class="second-header">
                                    @*<th ng-class="orderByBuy == 'CompanyName' ? 'selected' :  ''"><a href="#" ng-click="changeSortingB('CompanyName')">@FlatFXResources.Resources.Partner</a></th>*@
                                    <th>@FlatFXResources.Resources.Bank</th>
                                    <th>@FlatFXResources.Resources.ExpiryDate</th>
                                    <th>@FlatFXResources.Resources.ClearingType</th>
                                    <th ng-class="orderByBuy == 'MinAmount' ? 'selected' :  ''"><a href="#" ng-click="changeSortingB('MinAmount')">@FlatFXResources.Resources.MinAmount {{ CCY1() }}</a></th>
                                    <th ng-class="orderByBuy == 'MaxAmount' ? 'selected' :  ''"><a href="#" ng-click="changeSortingB('MaxAmount')">@FlatFXResources.Resources.MaxAmount {{ CCY1() }}</a></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="order in OrdersToBuy | rangeFilter:'MinAmount':minAmountBuy:'MaxAmount':maxAmountBuy | orderBy:orderByBuy">
                                    @*<td>{{ order.CompanyName }}</td>*@
                                    <td>{{ order.BankName }}</td>
                                    <td>{{ order.ExpiredTxt }}</td>
                                    <td>{{ order.ClearingTypeTxt }}</td>
                                    <td><a class="orderbook-amount" ng-click="createNewOrderWithMatch(order, 'Min')">{{ order.MinAmount | number:0 }}</a></td>
                                    <td><a class="orderbook-amount" ng-click="createNewOrderWithMatch(order, 'Max')">{{ order.MaxAmount | number:0 }}</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-xs-6 col-md-6 table-order-wrapper">
                        <table class="table table-responsive table-bordered table-hover table-striped table-order-sell">
                            <colgroup>
                                <col class="col-sm-3" />
                                <col class="col-sm-3" />
                                <col class="col-sm-2" />
                                <col class="col-sm-2" />
                                <col class="col-sm-2" />
                            </colgroup>
                            <thead>
                                <tr class="first-header">
                                    <th colspan="5" class="text-center">@FlatFXResources.Resources.buying {{ CCY2() }} @FlatFXResources.Resources.Sell2 {{ CCY1() }}</th>
                                </tr>
                                <tr class="second-header">
                                    <th ng-class="orderBySell == 'MaxAmount' ? 'selected' :  ''"><a href="#" ng-click="changeSortingS('MaxAmount')">@FlatFXResources.Resources.MaxAmount {{ CCY1() }}</a></th>
                                    <th ng-class="orderBySell == 'MinAmount' ? 'selected' :  ''"><a href="#" ng-click="changeSortingS('MinAmount')">@FlatFXResources.Resources.MinAmount {{ CCY1() }}</a></th>
                                    @*<th ng-class="orderBySell == 'CompanyName' ? 'selected' :  ''"><a href="#" ng-click="changeSortingS('CompanyName')">@FlatFXResources.Resources.Partner</a></th>*@
                                    <th>@FlatFXResources.Resources.ClearingType</th>
                                    <th>@FlatFXResources.Resources.ExpiryDate</th>
                                    <th>@FlatFXResources.Resources.Bank</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="order in OrdersToSell | rangeFilter:'MinAmount':minAmountBuy:'MaxAmount':maxAmountBuy | orderBy:orderBySell">
                                    <td><a class="orderbook-amount" ng-click="createNewOrderWithMatch(order, 'Max')">{{ order.MaxAmount | number:0 }}</a></td>
                                    <td><a class="orderbook-amount" ng-click="createNewOrderWithMatch(order, 'Min')">{{ order.MinAmount | number:0 }}</a></td>
                                    <td>{{ order.ClearingTypeTxt }}</td>
                                    <td>{{ order.ExpiredTxt }}</td>
                                    <td>{{ order.BankName }}</td>
                                    @*<td>{{ order.CompanyName }}</td>*@
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>