@using FlatFXCore.BussinessLayer;

<br /><br />
<div class="form-horizontal">
    <div class="panel panel-info bank-commission-form">
        <div>
            <p class="spreads-image-header">@FlatFXResources.Resources.BankCommissionHeader</p>
        </div>
        <div class="panel-body start-align">
            <div class="form-group">
                <label class="control-label col-xs-8">@FlatFXResources.Resources.BankCommission1:</label>
                <div class="col-xs-4">
                    <input type="number" class="form-control" ng-model="amountUSD">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-8">@FlatFXResources.Resources.BankCommission2:</label>
                <div class="col-xs-4">
                    <input min="0" max="100" type="number" class="form-control" ng-model="exchangeDiscount">
                </div>
                <label class="control-label col-xs-8 remark">@FlatFXResources.Resources.BankCommissionRemark1</label>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-8">@FlatFXResources.Resources.BankCommission3:</label>
                <div class="col-xs-4">
                    <input min="0" max="100" type="number" class="form-control" ng-model="spreadDiscount">
                </div>
                <label class="control-label col-xs-8 remark">@FlatFXResources.Resources.BankCommissionRemark2</label>
            </div>
            <div class="form-group red small-line">
                <label class="control-label col-xs-8">
                    <a href="#" tooltip-placement="top" tooltip="Total bank commission without discount is 1.1%">@FlatFXResources.Resources.BankCommission4</a> <a href="http://www.leumi.co.il/home04/currency_rates/9034/" target="_blank">
                        <span class="glyphicon glyphicon-info-sign red"></span>
                    </a>:
                </label>
                <div class="col-xs-4">
                    <label class="start-align">{{ BankCommission() | number:0 }} &#8362;</label>
                </div>
            </div>
            <div class="form-group blue small-line">
                <label class="control-label col-xs-8">
                    <a href="#" tooltip-placement="top" tooltip="Total FlatFX commission for orders is 0.2%">@FlatFXResources.Resources.BankCommission6</a> 
                    <a href="@Url.Action("ShowRates", "OnLineFXRates")" target="_blank"><span class="glyphicon glyphicon-info-sign blue"></span>
                </a>:
            </label>
            <div class="col-xs-4">
                <label class="start-align">{{ FlatFXCommission() | number:0 }} &#8362;</label>
            </div>
        </div>
        <div class="form-group green small-line">
            <label class="control-label col-xs-8">@FlatFXResources.Resources.BankCommission5:</label>
            <div class="col-xs-4">
                <label class="start-align">{{ FlatFXSaving() | number:0 }} &#8362;</label>
            </div>
        </div>

        @if (User.IsInRole(Consts.Role_Administrator))
        {
            <br /><br /><br />
            <h2>@FlatFXResources.Resources.CommissionCalcAdmin1</h2>
            <div class="form-group blue">
                <label class="control-label col-xs-8">@FlatFXResources.Resources.CommissionCalcAdmin2</label>
                <div class="col-xs-4">
                    <input min="0" max="10" type="number" class="form-control" ng-model="flatFXCommission">
                </div>
            </div>
            <div class="form-group blue small-line">
                <label class="control-label col-xs-8">@FlatFXResources.Resources.CommissionCalcAdmin3</label>
                <div class="col-xs-4">
                    <input min="0" max="10" type="number" class="form-control" ng-model="bankCommission">
                </div>
            </div>
            <div class="form-group blue small-line">
                <label class="control-label col-xs-8">@FlatFXResources.Resources.CommissionCalcAdmin4</label>
                <div class="col-xs-4">
                    <label class="start-align">{{ FlatFXIncome() | number:0 }} &#8362;</label>
                </div>
            </div>
        }
    </div>
</div>
</div>