@{
    ViewBag.Title = "FlatFX Home Page";
}
<script src="~/JS/Home/HomePage.js"></script>
<div ng-controller="HomeIndex" ng-init="init()" class="home-class" @*id="full-page"*@>
    <div class="text-center section1">
        <div class="col-xs-12 backcolor">
            <div class="hebrew-only">
                <p class="text1"><b>יצואן/יבואן/ממיר מט"ח?</b></p>
                <p class="text1">הבנק מספק מרווחים גדולים? יודע מה המרווח שלך?</p>
                <p class="text2"><b>תפסיק להיות לקוח שבוי - הצטרף למהפיכה במט"ח</b></p>
                <p class="text1">סחור ישירות מול לקוחות כמוך בשער אמצע (היציג) ללא מרווחי הבנק</p>
                <p class="text1">איתנו תחסוך עד &#8362;200,000 כל שנה</p>
                <br />
                <a class="btn btn-lg green-button" href="@Url.Action("RegisterAll", "Account")"><span class="glyphicon glyphicon-registration-mark"></span> הצטרף למהפיכה</a>&nbsp;&nbsp;&nbsp;
                <a class="btn btn-lg green-button" href="@Url.Action("RegisterDemo", "Account")"><span class="glyphicon glyphicon-registration-mark"></span> פתח חשבון דמו</a>&nbsp;&nbsp;&nbsp;
                <a class="btn btn-lg green-button" href="@Url.Action("Index", "Home")#About"><span class="glyphicon glyphicon-info-sign"></span> למידע נוסף</a>&nbsp;&nbsp;&nbsp;
                <br /><br /><br /><br />
            </div>
            
        </div>
    </div>
    <div class="col-xs-12 text-center hebrew-only calc-section">
        <p>&nbsp;</p>
        <div class="col-xs-offset-3 col-xs-6">
            @Html.Partial("~/Views/Home/_CommissionCalculator.cshtml")
        </div>
        <p>&nbsp;</p>
    </div>
    <div class="text-center hebrew-only spreads-image-section">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p class="spreads-image-header">עמלות הבנקים</p>
        <img class="USDILS-image" src="~/Images/USDILS_Spreads.png" />
    </div>
    @*<div id="Movie" class="text-center hebrew-only">
        <video autoplay loop muted id="myVideo">
            <source src="Content/flowers.mp4" type="video/mp4">
            <source src="Content/flowers.webm" type="video/webm">
        </video>
    </div>*@
    <br /><br /><br /><br />
    <div id="FlatFXCommissions" class="text-center ffx-commission-section">
        <div class="col-xs-12 backcolor hebrew-only">
            <div class="col-xs-offset-1 col-xs-10">
                <h1 class="section-center">המרת מטבע מול FlatFX</h1>
                <br />
                <div class="start-align">
                    <h3>מרווחי המרה בעבודה מול ה <a href="@Url.Action("OrderIndex", "Order")"><strong>Order System</strong></a></h3>
    2                עמלה קבועה של 0.2% מסכום ההמרה + המרווח אותו בחר הלקוח (בדרך כלל שער האמצע)
                    <br /><br />
                    <h3>מרווחי המרה בעבודה מול ה <a href="@Url.Action("EnterData", "SimpleCurrencyExchange")"><strong>Exchange System</strong></a></h3>
                    אין עמלה על ביצוע ההמרה, העמלה היחידה הינה עמלת השער (המרווח משער האמצע)
                    <div>
                        <ul>
                            <li>המרה של 100,000 דולר ומעלה - 0.2%</li>
                            <li>המרה של 50,000-100,000 דולר - 0.3%</li>
                            <li>המרה נמוכה מ 50,000 דולר - 0.4%</li>
                        </ul>
                    </div>
                    מחיר המרה מינימלי הינו 10,000 דולר
                    <br /><br /><br />
                </div>
            </div>
        </div>
    </div>
    
    <div id="HowItWorks" class="text-center hebrew-only howItWorksSection">
        <div class="section-center">
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p class="spreads-image-header">איך זה עובד</p>
            <br />
            <img class="how-it-work-image" src="~/Images/HowItWorks3.jpg" />
            <br /><br /><br />
            <ol>
                <li>
                    הלקוח מבצע המרת מט"ח באמצעות האתר:
                    <br /><br />
                    <b>Exchange System:</b> הלקוח מבצע המרה ישירות מול FlatFX במרווח שמייצג 75% הנחה לעומת מחירי הבנק
                    <br /><br />
                    <b>Order System:</b> הזמנת עיסקה במרווח 0 מול לקוחות אחרים
                    <br /><br />
                </li>
                <li>
                    FlatFX מבצעת את המרת הכספים מול הבנק במרווח נמוך (עקב נפח מסחר גבוה)
                    <br /><br />
                </li>
                <li>
                    הלקוח מעביר ל FlatFX את הסכום הנדרש במטבע הרוכש לחשבון בנאמנות
                    <br /><br />
                </li>
                <li>
                    FlatFX מחזירה לחשבון הלקוח את הסכום הנדרש במטבע הנרכש
                    <br /><br />
                </li>
                <li>
                    בהצלחה
                    <br /><br /><br />
                </li>
            </ol>
        </div>
    </div>
    <br /><br />
    <div id="About" class="text-center aboutSection">
        <div class="col-xs-12 backcolor hebrew-only">
            <div class="col-xs-offset-1 col-xs-10">
                <h1 class="section-center">אודות</h1>
                <div class="start-align">
                    <h3>תיאור:</h3>
                    <div>
                        <strong>FlatFX</strong> הינו אתר אינטרנטי המאפשר ללקוחות הבנקים לבצע פעולות מט"ח והמרת מטבעות באופן תחרותי, שקוף וזול.<br />
                        המוצר יוצר מהפיכה תחרותית בשוק המרות המטבע ומאפשר לחברות בינוניות וקטנות לבצע המרות מטבע זה מול זה, במחירים תחרותיים שעד עתה לא ראו (20%-80% הנחה).<br />
                    </div>
                    <h3>תכונות המערכת:</h3>
                    <div>
                        <ul>
                            <li><b>קבלת מחירי השוק OnLine,</b> שמירה על הלקוח מביצוע עיסקה במרווחים גדולים ע"י הצגת מרווחים רצויים.</li>
                            <li><b>מערכת ביצוע המרת מט"ח</b> במחירים זולים (עד 80% הנחה ממחירי הבנקים).</li>
                            <li><b>מערכת הזמנת עיסקאות</b> בשער אמצע (יציג) מול לקוחות האתר האחרים</li>
                            <li><b>מסכי ניהול עסקאות</b> צפיה בכל העיסקאות הפתוחות / הסגורות. צפייה בהיסטוריית העיסקאות.</li>
                        </ul>
                    </div>
                    <h3>יתרונות עיקריים:</h3>
                    <div>
                        <ul>
                            <li><b>הקטנת עמלות המשתמשים ב 30%-80%.</b></li>
                            <li>המוצר מבצע מהפיכה במסחר במט"ח ומאפשר ללקוחות שונים לבצע המרה אחד עם השני באמצעות חשבון בנאמנות</li>
                            <li>ע"י השימוש במערכת הלקוח מסווג בקבוצת עמלות נמוכות בהשוואה לסיווגו כלקוח יחיד מול הבנק</li>
                        </ul>
                        <br /><br />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>

<script>
    $(document).ready(function () {
        var navigateToSection = '';
        var start = window.location.href.indexOf('#');
        if (start > 0) {
            navigateToSection = window.location.href.substr(start, window.location.href.length - start);
            $('html, body').animate({
                scrollTop: $(navigateToSection).offset().top
            }, 1000);
        }
    });
</script>