<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/Images/FlatFXIcon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)

    @{
        if (System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.IsRightToLeft)
        {
            <script src="~/Scripts/bootstrap.rtl.min.js"></script>
            <link href="~/Content/rtlCustom.css" rel="stylesheet" />
            <script src="~/Scripts/bootstrap.rtl.min.js"></script>
            <script src="~/JS/rtlCustom.js"></script>
        }
    }

    <link href="~/Content/fullpageex.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/JS/FFx.js"></script>

</head>
<body>
    <div class="row">
        <div class="col-xs-1"></div>
        <div id="nav" class="col-xs-10 static">
            @Html.Partial("MainSiteHeader")
        </div>
        <div class="col-xs-1"></div>
    </div>
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">

            <div id="body">
                @RenderBody()
            </div>
        </div>
        <div class="col-xs-1"></div>
    </div>
    <div id="footer" class="row">
        <div class="col-xs-1"></div>
        <div id="nav" class="col-xs-10 float-left">
            <p>FlatFX @DateTime.Now.Year &copy;</p>
        </div>
        <div class="col-xs-1"></div>
    </div>
</body>
</html>