@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
    <li class="dropdown site-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> @User.Identity.GetUserName().ToShortString(12)<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Manage Account", "UserIndex", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()"><span class="glyphicon glyphicon-log-out"></span> @FlatFXResources.Resources.Signout</a></li>
        </ul>
    </li>
    }
}
else
{
    <li>@Html.ActionLink(FlatFXResources.Resources.Registration, "RegisterAll", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li>&nbsp;&nbsp;</li>
    <li>@Html.ActionLink(FlatFXResources.Resources.EnterPrivateZone, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
}
