@model IEnumerable<FlatFXCore.Model.Data.NewOrderNotification>
@using FlatFXCore.Model.Data;

@{
    Layout = "~/Views/Manage/AdminManageLayout.cshtml";
}

<div class="form-horizontal">
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">@((ViewBag.UserName == null) ? FlatFXResources.Resources.NotificationsList : (ViewBag.UserName + " " + FlatFXResources.Resources.Notifications + ":"))</h3>
        </div>
        <div class="panel-body table-responsive">
            <table class="table table-bordered table-hover table-striped ffx-table">
                <tr>
                    <th>
                        @FlatFXResources.Resources.UserName
                    </th>
                    <th>
                        @FlatFXResources.Resources.CompanyName
                    </th>
                    <th>
                        @FlatFXResources.Resources.IsDemoAccount
                    </th>
                    <th>
                        @FlatFXResources.Resources.Pair
                    </th>
                    <th>
                        @FlatFXResources.Resources.BuySell
                    </th>
                    <th>
                        @FlatFXResources.Resources.CreatedAt
                    </th>
                    <th>
                        @FlatFXResources.Resources.MinAmount
                    </th>
                    <th>
                        @FlatFXResources.Resources.MaxAmount
                    </th>
                    <th>
                        @FlatFXResources.Resources.ExpiryDate
                    </th>
                    <th>
                        @FlatFXResources.Resources.Provider
                    </th>
                    <th width="150px">Actions</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.Companies.FirstOrDefault().CompanyName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsDemo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Symbol)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BuySell)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedAt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MinVolume)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaxVolume)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Expired)
                        </td>
                        <td>
                            @((item.ProviderId == null || item.ProviderId == "") ? "All" : Provider.ProviderList[item.ProviderId])
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.NotificationId }) <br />
                            @Html.ActionLink("Delete", "Delete", new { id = item.NotificationId }) <br />
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>

<br /><br />
<div>
    <a class="btn btn-success" href="@Url.Action("Create")">@FlatFXResources.Resources.CreateNew</a>
</div>
<br /><br />