@model FlatFXCore.Model.Data.ProviderAccount

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Manage/AdminManageLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ProviderAccount</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyAccount.CompanyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyAccount.CompanyId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Provider.ShortName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Provider.ShortName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankAccountName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankAccountName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankAccountFullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankAccountFullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankBranchNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankBranchNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankAccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankAccountNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IBAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IBAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SWIFT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SWIFT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AllowToTradeDirectlly)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllowToTradeDirectlly)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovedBYFlatFX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovedBYFlatFX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovedBYProvider)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovedBYProvider)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserKeyInProviderSystems)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserKeyInProviderSystems)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDemoAccount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDemoAccount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdateBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdateBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuoteResponse_IsBlocked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuoteResponse_IsBlocked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuoteResponse_CustomerPromil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuoteResponse_CustomerPromil)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
