@model IEnumerable<FlatFXCore.Model.Data.Company>
@{
    Layout = "~/Views/Manage/AdminManageLayout.cshtml";
}

<div class="form-horizontal">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">@((ViewBag.UserName == null) ? "Company List" : (ViewBag.UserName + " companies:"))</h3>
        </div>
        <div class="panel-body table-responsive">
            <table class="table table-bordered table-hover table-striped ffx-table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CompanyName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CompanyFullName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsDepositValid)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsSignOnRegistrationAgreement)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CompanyVolumePerYearUSD)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ContactDetails.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ContactDetails.OfficePhone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ContactDetails.MobilePhone)
                    </th>
                    <th width="150px">Actions</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CompanyName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CompanyFullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsActive)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsDepositValid)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsSignOnRegistrationAgreement)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CompanyVolumePerYearUSD)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContactDetails.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContactDetails.OfficePhone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContactDetails.MobilePhone)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.CompanyId }) <br />
                            @Html.ActionLink("Delete", "Delete", new { id = item.CompanyId }) <br />
                            @Html.ActionLink("Company Users", "CompanyUsers", "ApplicationUsers", new { companyId = item.CompanyId }, null) <br />
                            @Html.ActionLink("Company Accounts", "", "", new { id = item.CompanyId }, null) <br />
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>