@model IEnumerable<FlatFXCore.Model.Data.Company>

<h2>Company List</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompanyShortName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyFullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDepositValid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsSignOnRegistrationAgreement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyVolumePerYearUSD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactDetails.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactDetails.OfficePhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactDetails.MobilePhone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyShortName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyFullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDepositValid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsSignOnRegistrationAgreement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyVolumePerYearUSD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactDetails.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactDetails.OfficePhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactDetails.MobilePhone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CompanyId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CompanyId })
        </td>
    </tr>
}

</table>
