@{
    ViewBag.Title = "ShowRates";
}

@using FlatFXCore.BussinessLayer;

<div class="on-line-window" ng-controller="OnLineRatesViewer" ng-init="init('@(Url.Action("GetRates", "OnLineFXRates"))')">
    <br /><br />
    <div class="row">
        <div class="col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1 col-lg-6 col-lg-offset-3">
            <div class="form-horizontal">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title">@FlatFXResources.Resources.CurrencyExchangeRateIndication</h3>
                        <div id="resultDiv" class="col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1 col-lg-6 col-lg-offset-3"></div>
                    </div>
                    <div id="onLineRates" class="panel-body table-responsive">
                        <table class="table table-bordered table-hover table-striped ffx-table">
                            <colgroup>
                                <col width="10" />
                                <col class="col-sm-6" />
                                <col class="col-sm-3" />
                                @*<col class="col-sm-2" />
                                    <col class="col-sm-2" />*@
                                <col class="col-sm-3" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>@FlatFXResources.Resources.Pair</th>
                                    <th>@FlatFXResources.Resources.MidRate</th>
                                    @*<th>@FlatFXResources.Resources.Buy</th>
                                        <th>@FlatFXResources.Resources.Sell</th>*@
                                    <th>@FlatFXResources.Resources.LastUpdate</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="rate in rates">
                                    <td ng-class="rate.IsTradable == false ? 'bg-red' : 'bg-green'"></td>
                                    <td>{{ rate.KeyDisplay }}</td>
                                    <td>{{ rate.Mid }}</td>
                                    @*<td><a href="{{ getHref(rate.Key, 'bid')}}" ng-class="rate.IsTradable == false ? 'not-active-a' : ''">{{ rate.Bid }}</a></td>
                                        <td><a href="{{ getHref(rate.Key, 'ask')}}" ng-class="rate.IsTradable == false ? 'not-active-a' : ''">{{ rate.Ask }}</a></td>*@
                                    @*<td>{{ rate.Bid }}</td>
                                        <td>{{ rate.Ask }}</td>*@
                                    <td>{{ rate.LastUpdate | date:'HH:mm yy/MM/dd' }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div id="on-line-rates-remarks">
                <p>
                    <span>להשוואה</span>
                    <a href="http://www.leumi.co.il/home04/currency_rates/9034/" target="_blank">לאומי</a>
                    <a href="https://www.bankhapoalim.co.il/wps/portal/PoalimPrivate/coins?WCM_GLOBAL_CONTEXT=poalim+-+content/PoalimSite/SiteArea_mainTabs/SiteArea_MotsarimVeSirutim/SiteArea_Matah/ShaareyHaligin&proceed=1" target="_blank">הפועלים</a>
                    <a href="https://www.discountbank.co.il/DB/private/general-information/foreign-currency-transfers/exchange-rates" target="_blank">דיסקונט</a>
                    <a href="https://www.mizrahi-tefahot.co.il/he/Bank/foreign-currency-international-trade-category/Pages/all_rates.aspx" target="_blank">מזרחי</a>
                </p>
                <p>@FlatFXResources.Resources.ShowRateRemarksRow1 <a style="color: blue; text-decoration: underline;" href="http://finance.yahoo.com/currency-investing" target="_blank">Yahoo Finance</a></p>
                <p>@FlatFXResources.Resources.ShowRateRemarksRow2 <span>{{ lastUpdate | date:'yyyy-MM-dd HH:mm' }}</span></p>
                <p>@FlatFXResources.Resources.ShowRateRemarksRow3</p>
                <p>@FlatFXResources.Resources.ShowRateRemarksRow4</p>
                <p>@FlatFXResources.Resources.ShowRateRemarksRow5</p>
            </div>
        </div>
        <div class="col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1 col-lg-6 col-lg-offset-3 historical-rates-panel">
            <h3 class="historical-rates-header" ng-model="showHistoricalRatesHeader" ng-click="showHistoricalRatesHeader=true">@FlatFXResources.Resources.HistoricalRates</h3>
            <div id="historical-rates" ng-show="showHistoricalRatesHeader">
                <div class="col-sm-9">
                    <div class="form-group">
                        <label class="control-label col-xs-5">@FlatFXResources.Resources.OrderChooseCurrencyPair:</label>
                        <div class="col-xs-7">
                            <select id="SelectPair" name="SelectPair" class="form-control" ng-model="SelectPairModel">
                                <option ng-selected="SelectPairModel == 'USDILS'" value="USDILS">@FlatFXResources.Resources.ResourceManager.GetString("USDILS")</option>
                                <option ng-selected="SelectPairModel == 'EURILS'" value="EURILS">@FlatFXResources.Resources.ResourceManager.GetString("EURILS")</option>
                            </select>
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <label class="col-xs-5 control-label">@FlatFXResources.Resources.SelectDate:</label>
                        <div class="col-xs-7">
                            <input type="datetime-local" name="SelectedDate" id="SelectedDate" class="form-control" ng-model="SelectedDateModel" placeholder="Please enter date" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="GetHistoryButton" name="GetHistoryButton" class="btn btn-primary historical-rates-button" ng-model="gethistorybuttonmodel" ng-click="GetRatesHistory()">@FlatFXResources.Resources.ShowRate</label>
                    </div>
                </div>
                <div class="col-sm-12 historical-rates-result">
                    <label class="rate">@FlatFXResources.Resources.MidRateIs: <b>{{ SelectedDateMidRate }}</b></label>
                    <div>
                        <label>@FlatFXResources.Resources.HistoricalRates:</label>
                        <table>
                            <tr ng-repeat="rate in HistoricalRates">
                                <td>{{ rate.Time | date:'yyyy-MM-dd HH:mm' }}</td>
                                <td>{{ rate.Mid }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>