@{
    ViewBag.Title = "ShowRates";
}

@using FlatFXCore.BussinessLayer;

<div class="on-line-window" ng-controller="OnLineRatesViewer" ng-init="init('@(Url.Action("GetRates", "OnLineFXRates"))')">
    <br /><br />
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="form-horizontal">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title">@FlatFXResources.Resources.CurrencyExchangeRateIndication</h3>
                        <div id="resultDiv" class="col-xs-10 col-xs-offset-2"></div>
                    </div>
                    <div id="onLineRates" class="panel-body table-responsive">
                        <table class="table table-bordered table-hover table-striped ffx-table">
                            <colgroup>
                                <col width="10" />
                                <col class="col-sm-4" />
                                <col class="col-sm-2" />
                                <col class="col-sm-2" />
                                <col class="col-sm-2" />
                                <col class="col-sm-2" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>@FlatFXResources.Resources.Pair</th>
                                    <th>@FlatFXResources.Resources.MidRate</th>
                                    <th>@FlatFXResources.Resources.Buy</th>
                                    <th>@FlatFXResources.Resources.Sell</th>
                                    <th>@FlatFXResources.Resources.LastUpdate</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="rate in rates">
                                    <td ng-class="rate.IsTradable == false ? 'bg-red' : 'bg-green'"></td>
                                    <td>{{ rate.KeyDisplay }}</td>
                                    <td>{{ rate.Mid }}</td>
                                    <td><a href="{{ getHref(rate.Key, 'bid')}}" ng-class="rate.IsTradable == false ? 'not-active-a' : ''">{{ rate.Bid }}</a></td>
                                    <td><a href="{{ getHref(rate.Key, 'ask')}}" ng-class="rate.IsTradable == false ? 'not-active-a' : ''">{{ rate.Ask }}</a></td>
                                    <td>{{ rate.LastUpdate | date:'HH:mm' }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div id="on-line-rates-remarks">
                <p>@FlatFXResources.Resources.ShowRateRemarksRow1 <a style="color: blue; text-decoration: underline;" href="http://finance.yahoo.com/currency-investing" target="_blank">Yahoo Finance</a></p>
                <p>@FlatFXResources.Resources.ShowRateRemarksRow2 <span>{{ lastUpdate | date:'yyyy-MM-dd HH:mm' }}</span></p>
                <p>@FlatFXResources.Resources.ShowRateRemarksRow3</p>
                <p>@FlatFXResources.Resources.ShowRateRemarksRow4</p>
                <p>@FlatFXResources.Resources.ShowRateRemarksRow5</p>
            </div>
        </div>
    </div>
</div>