@using FlatFXWebClient.ViewModels
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="row" style="background-color: #e2e19b">
    <div class="col-xs-4"></div>
    <div class="col-xs-4" style="background-color: white; padding: 0px;">
        <div class="panel-primary form-horizontal">
            <div class="panel-heading">
                <h3 class="panel-title">@Resources.Login</h3>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName, new { @class = "col-md-3 col-md-offset-1 control-label" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                        </div>
                        @*<div class="col-md-4"></div>
                            <div class="remember-me col-md-6">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>*@
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-3 col-md-offset-1 control-label" })
                        <div class="col-md-6">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="forgot-your-password col-md-6 col-md-offset-4">
                            @Html.ActionLink(Resources.ForgotYourPassword, "ForgotPassword")
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-4">
                            <input type="submit" value="@Resources.Login" class="btn btn-success full-width" />
                        </div>
                    </div>
                    <br /><br />
                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-11">
                            <span class="pull-right full-width">
                                @Resources.StillDontHaveAccount<br />
                                <a class="btn btn-info" href="@Url.Action("RegisterAll", "Account")">@Resources.JoinTheRevolution</a>&nbsp;&nbsp;&nbsp;
                                <a class="btn btn-info" href="@Url.Action("RegisterDemo", "Account")">@Resources.CreateDemoAccount</a>
                            </span>
                        </div>
                    </div>
                    <br /><br />
                    @*<div class="col-md-3">
                            <section id="socialLoginForm">
                                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                            </section>
                        </div>*@
                }
            </div>
        </div>
    </div>
    <div class="col-xs-4"></div>
</div>
