@model FlatFXWebClient.ViewModels.ContactDetailsExViewModel

<div class="form-group">
    @Html.TextBoxFor(m => m.Address, new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.Address) })
</div>
<div class="form-group">
    @Html.TextBoxFor(m => m.Email2, new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.Email2) })
</div>
<div class="form-group">
    @Html.TextBoxFor(m => m.MobilePhone2, new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.MobilePhone2) })
</div>
<div class="form-group">
    @Html.TextBoxFor(m => m.OfficePhone2, new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.OfficePhone2) })
</div>
<div class="form-group">
    @Html.TextBoxFor(m => m.HomePhone, new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.HomePhone) })
</div>
<div class="form-group">
    @Html.TextBoxFor(m => m.CarPhone, new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.CarPhone) })
</div>