@model FlatFXWebClient.ViewModels.DemoUserDetailsModelView

@{
    ViewBag.Title = "Register Demo";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="col-xs-4"></div>
    <div class="col-xs-4 panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">@FlatFXResources.Resources.CreateDemoUser</h3>
        </div>
        <div class="panel-body">
            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                <remark>@FlatFXResources.Resources.YouMustConfirmYourEmail</remark>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MobilePhone, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.MobilePhone, new { htmlAttributes = new { @class = "form-control" } })
            </div>

            <input type="submit" value="@FlatFXResources.Resources.CreateDemoUser" class="btn btn-primary" />
        </div>
    </div>
    <div class="col-xs-4"></div>
}