@model FlatFXWebClient.ViewModels.CompanyUserAllEntitiesModelView
@{
    string userHeaderClass = (Session["RegisterAllStep"].ToInt() == 1) ? "active" : "disabled not-active";
    string userBodyClass = (Session["RegisterAllStep"].ToInt() == 1) ? "" : "display-none";
    string companyHeaderClass = (Session["RegisterAllStep"].ToInt() == 2) ? "active" : "disabled not-active";
    string companyBodyClass = (Session["RegisterAllStep"].ToInt() == 2) ? "" : "display-none";
    string accountHeaderClass = (Session["RegisterAllStep"].ToInt() == 3) ? "active" : "disabled not-active";
}
<script src="~/JS/Controllers/RegisterAll.js"></script>
@using (Html.BeginForm("RegisterAll", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div ng-controller="registerall" class="ffx-wizard">
        @if (Request["invitationCode"] == null)
        {
            <div class="row form-group">
                <div class="col-xs-12">
                    <ul class="nav nav-pills nav-justified thumbnail setup-panel">
                        <li class="@userHeaderClass">
                            <a href="" style="text-decoration: none;">
                                <h1>
                                    @FlatFXResources.Resources.Step 1
                                    @if (Session["RegisterAllStep"].ToInt() > 1)
                                    {
                                        <span class="glyphicon glyphicon-ok green"></span>
                                    }
                                </h1>
                                <h3 class="list-group-item-heading">@FlatFXResources.Resources.RegisterUser</h3>
                                <p class="list-group-item-text">@FlatFXResources.Resources.EnterTheUserInformation</p>
                            </a>
                        </li>
                        <li class="@companyHeaderClass">
                            <a href="" style="text-decoration: none;">
                                <h1>
                                    @FlatFXResources.Resources.Step 2
                                    @if (Session["RegisterAllStep"].ToInt() > 2)
                                    {
                                        <span class="glyphicon glyphicon-ok green"></span>
                                    }
                                </h1>
                                <h3 class="list-group-item-heading">@FlatFXResources.Resources.RegisterCompany</h3>
                                <p class="list-group-item-text">@FlatFXResources.Resources.EnterTheCompanyInformation</p>
                            </a>
                        </li>
                        <li class="@accountHeaderClass">
                            <a href="" style="text-decoration: none;">
                                <h1>@FlatFXResources.Resources.Step 3</h1>
                                <h3 class="list-group-item-heading">@FlatFXResources.Resources.RegisterAccount</h3>
                                <p class="list-group-item-text">@FlatFXResources.Resources.EnterTheBankAccountInformation</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        }
        <div>
            @Html.ValidationSummary("", new { @class = "text-danger" })
        </div>
        <div class="row setup-content @userBodyClass">
            <div class="col-xs-12">
                <div class="col-md-12 text-center">
                    @Html.Partial("~/Views/ApplicationUsers/CreateAll.cshtml", Model)
                    <br />
                    @if (Request["invitationCode"] != null)
                    {
                        <input type="submit" value="@FlatFXResources.Resources.Register" class="btn btn-primary btn-lg" />
                    }
                    else
                    {
                        <input type="submit" value="Next" class="btn btn-primary btn-lg" />
                    }
                </div>
            </div>
        </div>
        @if (Session["RegisterAllStep"].ToInt() != 1)
        {
            <div class="row setup-content @companyBodyClass">
                <div class="col-xs-12">
                    <div class="col-md-12 text-center">
                        @Html.Partial("~/Views/Companies/CreateAll.cshtml", Model)
                        <br />
                        <input type="submit" value="Next" class="btn btn-primary btn-lg" />
                    </div>
                </div>
            </div>
        }
        @if (Session["RegisterAllStep"].ToInt() == 3)
        {
            <div class="row setup-content">
                <div class="col-xs-12">
                    <div class="col-md-12 text-center">
                        @Html.Partial("RegisterBankAccount", Model)
                        <br />
                        <input type="submit" value="@FlatFXResources.Resources.Register" class="btn btn-primary btn-lg" />
                    </div>
                </div>
            </div>
        }
    </div>
}

