@using FlatFXCore.Model.Data
@model FlatFXWebClient.ViewModels.CompanyUserAllEntitiesModelView
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">@FlatFXResources.Resources.BankAccountDetails</h4>
    </div>
    <div class="panel-body">
        <div class="form-group">
            @Html.LabelFor(m => m.providerAccountVM.ProviderId, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownListFor(m => m.providerAccountVM.ProviderId,
                         new SelectList(Provider.ProviderList, "Key", "Value"), htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(m => m.providerAccountVM.AccountName, new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.providerAccountVM.AccountName) })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(m => m.providerAccountVM.AccountFullName, new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.providerAccountVM.AccountFullName) })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(m => m.providerAccountVM.BranchNumber, new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.providerAccountVM.BranchNumber) })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(m => m.providerAccountVM.AccountNumber, new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.providerAccountVM.AccountNumber) })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(m => m.providerAccountVM.Address, new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.providerAccountVM.Address) })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(m => m.providerAccountVM.IBAN, new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.providerAccountVM.IBAN) })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(m => m.providerAccountVM.SWIFT, new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.providerAccountVM.SWIFT) })
        </div>
    </div>
</div>
