@using FlatFXWebClient.ViewModels
@model FlatFXWebClient.ViewModels.RegisterAllEntitiesModelView
<div class="panel panel-info">
    <div class="panel-heading">
        <h4 class="panel-title">@FlatFXResources.Resources.ContactDetails</h4>
    </div>
    <div class="panel-body">
        <div class="form-group">
            @if(Model.ShowContactDetailsForUser)
            {
                @Html.TextBoxFor(m => m.UserVM.userContactDetails.Email, new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.UserVM.userContactDetails.Email) });
            }
            else
            {
                @Html.TextBoxFor(m => m.companyVM.companyContactDetails.Email, new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.companyVM.companyContactDetails.Email) });
            }
        </div>
        <div class="form-group">
            @if (Model.ShowContactDetailsForUser)
            {
                @Html.TextBoxFor(m => m.UserVM.userContactDetails.MobilePhone, new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.UserVM.userContactDetails.MobilePhone) });
            }
            else
            {
                @Html.TextBoxFor(m => m.companyVM.companyContactDetails.MobilePhone, new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.companyVM.companyContactDetails.MobilePhone) });
            }
        </div>
        <div class="form-group">
            @if (Model.ShowContactDetailsForUser)
            {
                @Html.TextBoxFor(m => m.UserVM.userContactDetails.OfficePhone, new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.UserVM.userContactDetails.OfficePhone) });
            }
            else
            {
                @Html.TextBoxFor(m => m.companyVM.companyContactDetails.OfficePhone, new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.companyVM.companyContactDetails.OfficePhone) });
            }
        </div>
        <div class="form-group">
            @if (Model.ShowContactDetailsForUser)
            {
                @Html.TextBoxFor(m => m.UserVM.userContactDetails.Fax, new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.UserVM.userContactDetails.Fax) });
            }
            else
            {
                @Html.TextBoxFor(m => m.companyVM.companyContactDetails.Fax, new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.companyVM.companyContactDetails.Fax) });
            }
        </div>
        <div class="form-group">
            @if (Model.ShowContactDetailsForUser)
            {
                @Html.LabelFor(m => m.UserVM.userContactDetails.Country, htmlAttributes: new { @class = "control-label" })
                @Html.EnumDropDownListFor(m => m.UserVM.userContactDetails.Country, htmlAttributes: new { @class = "form-control" })
            }
            else
            {
                @Html.LabelFor(m => m.companyVM.companyContactDetails.Country, htmlAttributes: new { @class = "control-label" })
                @Html.EnumDropDownListFor(m => m.companyVM.companyContactDetails.Country, htmlAttributes: new { @class = "form-control" })
            }
        </div>
        <div class="form-group">
            @if (Model.ShowContactDetailsForUser)
            {
                @Html.TextBoxFor(m => m.UserVM.userContactDetails.WebSite, new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.UserVM.userContactDetails.WebSite) });
            }
            else
            {
                @Html.TextBoxFor(m => m.companyVM.companyContactDetails.WebSite, new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.companyVM.companyContactDetails.WebSite) });
            }
        </div>
        @if (Model.ShowContactDetailsForUser == false)
        { 
            @Html.Partial("RegisterContactDetailsEx", Model);
        }
    </div>
</div>
