@model FlatFXWebClient.ViewModels.CompanyUserAllEntitiesModelView

<div class="form-group">
    @Html.LabelFor(m => m.UserVM.userContactDetails.contactDetailsEx.Address, htmlAttributes: new { @class = "control-label col-sm-2" })
    <div class="col-sm-4">
        @if (Model.ShowContactDetailsForUser)
        {
            @Html.TextBoxFor(m => m.UserVM.userContactDetails.contactDetailsEx.Address, new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.UserVM.userContactDetails.contactDetailsEx.Address) });
        }
        else
        {
            @Html.TextBoxFor(m => m.companyVM.companyContactDetails.contactDetailsEx.Address, new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.companyVM.companyContactDetails.contactDetailsEx.Address) });
        }
    </div>
    @Html.LabelFor(m => m.UserVM.userContactDetails.contactDetailsEx.Email2, htmlAttributes: new { @class = "control-label col-sm-2" })
    <div class="col-sm-4">
        @if (Model.ShowContactDetailsForUser)
        {
            @Html.TextBoxFor(m => m.UserVM.userContactDetails.contactDetailsEx.Email2, new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.UserVM.userContactDetails.contactDetailsEx.Email2) });
        }
        else
        {
            @Html.TextBoxFor(m => m.companyVM.companyContactDetails.contactDetailsEx.Email2, new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.companyVM.companyContactDetails.contactDetailsEx.Email2) });
        }
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.UserVM.userContactDetails.contactDetailsEx.MobilePhone2, htmlAttributes: new { @class = "control-label col-sm-2" })
    <div class="col-sm-4">
        @if (Model.ShowContactDetailsForUser)
        {
            @Html.TextBoxFor(m => m.UserVM.userContactDetails.contactDetailsEx.MobilePhone2, new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.UserVM.userContactDetails.contactDetailsEx.MobilePhone2) });
        }
        else
        {
            @Html.TextBoxFor(m => m.companyVM.companyContactDetails.contactDetailsEx.MobilePhone2, new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.companyVM.companyContactDetails.contactDetailsEx.MobilePhone2) });
        }
    </div>
    @Html.LabelFor(m => m.UserVM.userContactDetails.contactDetailsEx.OfficePhone2, htmlAttributes: new { @class = "control-label col-sm-2" })
    <div class="col-sm-4">
        @if (Model.ShowContactDetailsForUser)
        {
            @Html.TextBoxFor(m => m.UserVM.userContactDetails.contactDetailsEx.OfficePhone2, new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.UserVM.userContactDetails.contactDetailsEx.OfficePhone2) });
        }
        else
        {
            @Html.TextBoxFor(m => m.companyVM.companyContactDetails.contactDetailsEx.OfficePhone2, new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.companyVM.companyContactDetails.contactDetailsEx.OfficePhone2) });
        }
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.UserVM.userContactDetails.contactDetailsEx.HomePhone, htmlAttributes: new { @class = "control-label col-sm-2" })
    <div class="col-sm-4">
        @if (Model.ShowContactDetailsForUser)
        {
            @Html.TextBoxFor(m => m.UserVM.userContactDetails.contactDetailsEx.HomePhone, new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.UserVM.userContactDetails.contactDetailsEx.HomePhone) });
        }
        else
        {
            @Html.TextBoxFor(m => m.companyVM.companyContactDetails.contactDetailsEx.HomePhone, new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.companyVM.companyContactDetails.contactDetailsEx.HomePhone) });
        }
    </div>
    @Html.LabelFor(m => m.UserVM.userContactDetails.contactDetailsEx.CarPhone, htmlAttributes: new { @class = "control-label col-sm-2" })
    <div class="col-sm-4">
        @if (Model.ShowContactDetailsForUser)
        {
            @Html.TextBoxFor(m => m.UserVM.userContactDetails.contactDetailsEx.CarPhone, new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.UserVM.userContactDetails.contactDetailsEx.CarPhone) });
        }
        else
        {
            @Html.TextBoxFor(m => m.companyVM.companyContactDetails.contactDetailsEx.CarPhone, new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.companyVM.companyContactDetails.contactDetailsEx.CarPhone) });
        }
    </div>
</div>
