@model FlatFXWebClient.ViewModels.RegisterUserViewModel
@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="col-xs-4 panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">@FlatFXResources.Resources.CreateNewUser</h3>
        </div>
        <div class="panel-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.UserName) })
            @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.Password) })
            @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.ConfirmPassword) })
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.FirstName) })
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.LastName) })
            @Html.TextBoxFor(m => m.Role, new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.Role) })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.Email) })
            @Html.TextBoxFor(m => m.MobilePhone, new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.MobilePhone) })
            @Html.TextBoxFor(m => m.OfficePhone, new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.OfficePhone) })
            @Html.TextBoxFor(m => m.Fax, new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.Fax) })
            @Html.TextBoxFor(m => m.Country, new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.Country) })
            @Html.TextBoxFor(m => m.WebSite, new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.WebSite) })
            <input type="submit" class="btn btn-default" value="@FlatFXResources.Resources.Register" />
        </div>
    </div>
    <div class="col-xs-8"></div>
}


