@model FlatFXWebClient.ViewModels.RegisterCompanyEntitiesModelView
@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="col-xs-1"></div>
    <div class="col-xs-3" style="margin: 0px 10px 0px 10px;">
        @Html.Partial("RegisterUser", Model.UserVM);
    </div>

    <div class="col-xs-3" style="margin: 0px 10px 0px 10px;">
        @Html.Partial("RegisterCompany", Model.companyVM);
    </div>

    <div class="col-xs-4" style="margin: 0px 10px 0px 10px;">
        @Html.Partial("RegisterProviderAccount", Model.providerAccountVM);
    </div>

    <div class="col-xs-1"></div>

    <div class="col-xs-12" style="margin: 0px 10px 0px 10px;">
        <div class="form-group">
            <input type="submit" class="btn btn-default" value="@FlatFXResources.Resources.Register" />
        </div>
    </div>
}


