@model FlatFXWebClient.ViewModels.SimpleCurrencyExchangeViewModel
@using FlatFXCore.BussinessLayer;

<div class="panel-danger form-horizontal simple-trading-order">
    <div class="panel-heading">
        <h3 class="panel-title">@FlatFXResources.Resources.DealSummary</h3>
    </div>
    <div class="panel-body start-align">
        <div>
            <span class="text-danger">@TempData["ErrorResult"]</span>
        </div>
        <h3><span class="green">@FlatFXResources.Resources.DealCreatedSuccessfully.</span> @FlatFXResources.Resources.ConfirmationNumber: @Model.deal.DealId</h3>
        <h3><b>@FlatFXResources.Resources.SummaryMainHeader</b></h3>
        <h4><b>@FlatFXResources.Resources.SummarySecondaryHeader</b></h4>
        <ul class="summary-steps-description">
            @if (Model.deal.PvPEnabled)
            {
                <li>
                    <span class="summary-step">@FlatFXResources.Resources.SummaryStep1:</span><br />
                    @Html.Raw(FlatFXResources.Resources.SummaryOnLineStep1Description1) @Model.deal.CustomerRate<br />
                </li>
                <li>
                    <span class="summary-step">@FlatFXResources.Resources.SummaryStep2:</span><br />
                    @FlatFXResources.Resources.SummaryPvpStep2Description1 <b>@Model.deal.AmountToExchangeCreditedCurrency.ToString("N0") @Model.deal.CreditedCurrency</b>
                    @Html.Raw(FlatFXResources.Resources.SummaryPvpStep2Description2) <b>@FlatFXResources.Resources.FlatFXShortBankInfo</b><br />
                    @FlatFXResources.Resources.SummaryPvpStep2Description3 <b>@Model.deal.AmountToExchangeChargedCurrency.ToString("N0") @Model.deal.ChargedCurrency</b>
                    @FlatFXResources.Resources.SummaryPvpStep2Description4 <b>@Model.deal.ChargedProviderAccount.Provider.FullName @Model.deal.ChargedProviderAccount.AccountName</b>
                </li>
                <li>
                    <span class="summary-step">@FlatFXResources.Resources.SummaryStep3:</span><br />
                    @Html.Raw(FlatFXResources.Resources.SummaryPvpStep3Description1)
                    @FlatFXResources.Resources.SummaryPvpStep3Direction1 <b>@Model.deal.AmountToExchangeCreditedCurrency.ToString("N0") @Model.deal.CreditedCurrency</b>
                    @FlatFXResources.Resources.SummaryPvpStep3Direction1_2 <b>@FlatFXResources.Resources.FlatFXShortBankInfo</b>
                    @FlatFXResources.Resources.SummaryPvpStep3Direction1_3 <b>@Model.deal.ChargedProviderAccount.Provider.FullName @Model.deal.ChargedProviderAccount.AccountName</b>
                    <br />
                    @FlatFXResources.Resources.SummaryPvpStep3Direction2 <b>@Model.deal.AmountToExchangeChargedCurrency.ToString("N0") @Model.deal.ChargedCurrency</b>
                    @FlatFXResources.Resources.SummaryPvpStep3Direction1_2 <b>@Model.deal.ChargedProviderAccount.Provider.FullName @Model.deal.ChargedProviderAccount.AccountName</b>
                    @FlatFXResources.Resources.SummaryPvpStep3Direction1_3 <b>@FlatFXResources.Resources.FlatFXShortBankInfo</b>
                    <br />
                    @FlatFXResources.Resources.SummaryPvpStep3Direction3
                    <br />
                    @FlatFXResources.Resources.SummaryPvpStep3Direction4
                </li>
            }
            else if (Model.deal.EnsureOnLinePrice)
            {
                <li>
                    <span class="summary-step">@FlatFXResources.Resources.SummaryStep1:</span><br />
                    @Html.Raw(FlatFXResources.Resources.SummaryOnLineStep1Description1) @Model.deal.CustomerRate
                </li>
                <li>
                    <span class="summary-step">@FlatFXResources.Resources.SummaryStep2:</span><br />
                    @FlatFXResources.Resources.SummaryStep1Description1
                    <b>@Model.deal.AmountToExchangeChargedCurrency.ToString("N0") @Model.deal.ChargedCurrency</b>
                    @FlatFXResources.Resources.SummaryStep1Description2<b>@Model.deal.ChargedProviderAccount.Provider.FullName @Model.deal.ChargedProviderAccount.AccountName</b><br />
                    @FlatFXResources.Resources.SummaryStep1Description3 <b>@((!Model.deal.FastTransferEnabled) ? ApplicationInformation.Instance.NextBussinessDay() : DateTime.Now.ToShortDateString()) 13:00</b>

                    @if (Model.deal.FastTransferEnabled)
                    {
                        <br />
                        @FlatFXResources.Resources.SummaryStep1Description4
                    }
                </li>
                <li>
                    <span class="summary-step">@FlatFXResources.Resources.SummaryStep3:</span>
                    <br />
                    @FlatFXResources.Resources.SummaryOnLineStep3Description1
                    <b>@Model.deal.AmountToExchangeCreditedCurrency.ToString("N0") @Model.deal.CreditedCurrency</b>
                    @FlatFXResources.Resources.SummaryStep3Description2
                    <b>@Model.deal.ChargedProviderAccount.Provider.FullName @Model.deal.ChargedProviderAccount.AccountName</b>
                </li>
            }
            else
            {
                <li>
                    <span class="summary-step">@FlatFXResources.Resources.SummaryStep1:</span><br />
                    @FlatFXResources.Resources.SummaryStep1Description1
                    <b>@Model.deal.AmountToExchangeChargedCurrency.ToString("N0") @Model.deal.ChargedCurrency</b>
                    @FlatFXResources.Resources.SummaryStep1Description2<b>@Model.deal.ChargedProviderAccount.Provider.FullName @Model.deal.ChargedProviderAccount.AccountName</b><br />
                    @FlatFXResources.Resources.SummaryStep1Description3 <b>@((!Model.deal.FastTransferEnabled) ? ApplicationInformation.Instance.NextBussinessDay() : DateTime.Now.ToShortDateString()) 13:00</b>

                    @if (Model.deal.FastTransferEnabled)
                    {
                        <br />
                        @FlatFXResources.Resources.SummaryStep1Description4
                    }
                </li>
                <li>
                    <span class="summary-step">@FlatFXResources.Resources.SummaryStep2:</span><br />
                    @FlatFXResources.Resources.SummaryStep2Description
                </li>
                <li>
                    <span class="summary-step">@FlatFXResources.Resources.SummaryStep3:</span><br />
                    @FlatFXResources.Resources.SummaryStep3Description1 <b>@Model.deal.AmountToExchangeCreditedCurrency.ToString("N0") @Model.deal.CreditedCurrency</b>
                    @FlatFXResources.Resources.SummaryStep3Description2 <b>@Model.deal.ChargedProviderAccount.Provider.FullName @Model.deal.ChargedProviderAccount.AccountName</b><br />
                    @FlatFXResources.Resources.SummaryStep3Description3
                </li>
            }
            <li>
                <span class="summary-step">@FlatFXResources.Resources.SummaryStep4:</span><br />
                @FlatFXResources.Resources.SummaryEnjoy<br />
                @FlatFXResources.Resources.SummaryThankYou
            </li>
        </ul>

        <br />
        @if (!Model.deal.PvPEnabled)
        {
            @Html.Raw(FlatFXResources.Resources.HowToTransfer)
        }
        <br />
        @Html.Raw(FlatFXResources.Resources.FlatFXBankAccountDetails)

        <br />
        <div class="form-group">
            <div class="col-md-12">
                <div class="btn-group">
                    <a class="btn btn-success" href="@Url.Action("Index", "Home")">@FlatFXResources.Resources.Home</a>
                    <a class="btn btn-danger" href="@Url.Action("DashboardIndex", "Dashboard")">@FlatFXResources.Resources.OpenDeals</a>
                    <a class="btn btn-success" href="@Url.Action("DashboardIndex", "Dashboard", new { TabName = "DealHistory" })">@FlatFXResources.Resources.DealHistory</a>
                    <a class="btn btn-danger" href="@Url.Action("DashboardIndex", "Dashboard", new { TabName = "Statistics" })">@FlatFXResources.Resources.Statistics</a>
                </div>
            </div>
        </div>
        <br /><br />
    </div>
</div>