@model FlatFXWebClient.ViewModels.SimpleCurrencyExchangeViewModel
@using FlatFXCore.BussinessLayer;

<div class="panel-danger form-horizontal simple-trading-confirm">
    <div class="panel-heading">
        <h3 class="panel-title">@FlatFXResources.Resources.ConfirmYourDeal</h3>
    </div>
    <div class="panel-body">

        <div>
            @Html.ValidationSummary("", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label class="control-label col-xs-6">@FlatFXResources.Resources.OrderID:</label>
            <div class="col-xs-6 order-value">@Model.deal.DealId</div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-6">@FlatFXResources.Resources.CompanyName:</label>
            <div class="col-xs-6 order-value">
                @Model.deal.CompanyAccount.Company.CompanyName
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-6">@FlatFXResources.Resources.BankAccount:</label>
            <div class="col-xs-6 order-value">
                @Model.deal.ChargedProviderAccount.Provider.FullName @Model.deal.ChargedProviderAccount.AccountName
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-6">@FlatFXResources.Resources.UserName:</label>
            <div class="col-xs-6 order-value">
                @Model.deal.user.FullName
            </div>
        </div>
        <div class="form-group red">
            <label class="control-label col-xs-6">@FlatFXResources.Resources.SellAmount:</label>
            <div class="col-xs-6 order-value">
                @Model.deal.AmountToExchangeChargedCurrency.ToString("N0") @Model.deal.ChargedCurrency
            </div>
        </div>
        <div class="form-group green">
            <div class="col-xs-6">
                <label class="control-label">@FlatFXResources.Resources.BuyAmount:</label>
                @if(!Model.deal.EnsureOnLinePrice)
                {
                    <div class="medium-line start-align">
                        <span class="estimation">@Resources.EstimationByFinalDealRate</span>
                    </div>
                }
            </div>
            <div class="col-xs-6 order-value">
                @Model.deal.AmountToExchangeCreditedCurrency.ToString("N0") @Model.deal.CreditedCurrency
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-6">@FlatFXResources.Resources.WeTradedAt:</label>
            <div class="col-xs-6 order-value">
                @Model.deal.OfferingDate
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-6">@FlatFXResources.Resources.YourRateWas:</label>
            <div class="col-xs-6 order-value">
                @if (Model.deal.EnsureOnLinePrice)
                {
                    @Model.deal.CustomerRate
                }
                else
                {
                    @FlatFXResources.Resources.WillBeSetAfterMoneyTransfer
                    <br />
                    <span class="estimation">@FlatFXResources.Resources.CurrentRateIs @Model.deal.CustomerRate</span>
                }
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-xs-6">@FlatFXResources.Resources.YouSave:</label>
            <div class="col-xs-6 order-value">
                @Model.deal.CustomerTotalProfitUSD$
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-6">@FlatFXResources.Resources.FlatFXCommission:</label>
            <div class="col-xs-6 order-value">
                @Model.deal.Commission$
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-6">@FlatFXResources.Resources.EnsureOnLinePrice:</label>
            <div class="col-xs-6 order-value">
                @((Model.deal.EnsureOnLinePrice) ? FlatFXResources.Resources.Yes : FlatFXResources.Resources.No)
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-6">@FlatFXResources.Resources.FastTransferEnabled:</label>
            <div class="col-xs-6 order-value">
                @((Model.deal.FastTransferEnabled) ? FlatFXResources.Resources.Yes : FlatFXResources.Resources.No)
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-6">@FlatFXResources.Resources.PvPEnabled:</label>
            <div class="col-xs-6 order-value">
                @((Model.deal.PvPEnabled) ? FlatFXResources.Resources.Yes : FlatFXResources.Resources.No)
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-6">@FlatFXResources.Resources.Provider:</label>
            <div class="col-xs-6 order-value">
                FlatFX
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-6">@FlatFXResources.Resources.Comment:</label>
            <div class="col-xs-6 order-value">
                @Model.deal.Comment
            </div>
        </div>
        <div class="form-group">
            <br />
            <div class="text-center col-xs-12">
                <div class="end-align col-xs-2">
                    <span id="confirm-countdown" class="countdown-enabled">{{ CountDown }}</span>
                </div>
                <div class="col-xs-10 start-align">
                    @if (ApplicationInformation.Instance.IsDemoUser)
                    {
                        <input id="confirm-submit" type="submit" value="@FlatFXResources.Resources.ConfirmYourDEMODeal" class="btn btn-primary" />
                    }
                    else
                    {
                        <input id="confirm-submit" type="submit" value="@FlatFXResources.Resources.ConfirmYourDeal" class="btn btn-primary" />
                        <br />
                        <remark>@FlatFXResources.Resources.TheFunds @DateTime.Now.AddDays(1).ToShortDateString() @FlatFXResources.Resources.At 13:00</remark>
                    }

                    <a id="confirm-reorder" class="btn btn-primary" href="@Url.Action("EnterData", "SimpleCurrencyExchange")">@FlatFXResources.Resources.CreateNewOrder</a>
                </div>
            </div>
        </div>
    </div>
</div>