@model FlatFXWebClient.ViewModels.SimpleCurrencyExchangeViewModel
@using FlatFXCore.BussinessLayer;

@{
    ViewBag.Title = "Simple Currency Exchange";
    string queryHeaderClass = (Model.WorkflowStage == 1) ? "active" : "disabled not-active";
    string queryBodyClass = (Model.WorkflowStage == 1 || Model.WorkflowStage == 2) ? "" : "display-none";
    string confirmHeaderClass = (Model.WorkflowStage == 2) ? "active" : "disabled not-active";
    string confirmBodyClass = (Model.WorkflowStage == 2) ? "" : "display-none";
    string summaryHeaderClass = (Model.WorkflowStage == 3) ? "active" : "disabled not-active";
    string controllerAction = "EnterData";
    if (Model.WorkflowStage == 2)
    {
        controllerAction = "Confim";
    }
}

<br /><br />

<div ng-controller="enterdata" ng-init="init('@Html.Raw(ApplicationInformation.Instance.IsDemoUser)', '@TempData["Result"]', '@TempData["ErrorResult"]')" class="simple-currency-exchange">
    @using (Html.BeginForm(controllerAction, "SimpleCurrencyExchange", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        if (ApplicationInformation.Instance.IsDemoUser)
        {
            <div class="col-xs-12 demoToLiveTrading">
                <span>You are in a demo environment. Your traders won't have any effect.</span>
                <a class="btn btn-success" href="@Url.Action("ConvertDemoToRealAccount", "Account")">Change your Demo Account to a Real Account</a>
            </div>
            <br /><br /><br />
        }

        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.OrderKey)
        @Html.HiddenFor(model => model.WorkflowStage)

        <div class="row form-group">
            <div class="col-xs-12">
                <ul class="nav nav-pills nav-justified thumbnail setup-panel">
                    <li class="@queryHeaderClass">
                        <a href="" style="text-decoration: none;">
                            <h2>
                                @FlatFXResources.Resources.Step 1
                                @if (Model.WorkflowStage > 1)
                                {
                                    <span class="glyphicon glyphicon-ok green"></span>
                                }
                            </h2>
                            <h3 class="list-group-item-heading">Enter your Order details</h3>
                            <p class="list-group-item-text">Enter the Order currencies, amount, buy/sell, bank account, ...</p>
                        </a>
                    </li>
                    <li class="@confirmHeaderClass">
                        <a href="" style="text-decoration: none;">
                            <h2>
                                @FlatFXResources.Resources.Step 2
                                @if (Model.WorkflowStage > 2)
                                {
                                    <span class="glyphicon glyphicon-ok green"></span>
                                }
                            </h2>
                            <h3 class="list-group-item-heading">Confirm Deal</h3>
                            <p class="list-group-item-text">See the live rates and confirm the deal</p>
                        </a>
                    </li>
                    <li class="@summaryHeaderClass">
                        <a href="" style="text-decoration: none;">
                            <h2>@FlatFXResources.Resources.Step 3</h2>
                            <h3 class="list-group-item-heading">Summary</h3>
                            <p class="list-group-item-text">See the Deal summary and the instractions for the money transfer</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        if (Model.WorkflowStage != 3)
        {
            <div class="row setup-content @queryBodyClass">
                <div id="resultDiv" class="col-xs-12"></div>
                <div class="col-xs-5 text-center">
                    @Html.Partial("~/Views/SimpleCurrencyExchange/EnterData_Order.cshtml", Model)
                </div>
                <div class="col-xs-2 text-center"></div>
                <div class="col-xs-5 text-center">
                    @if (Model.WorkflowStage != 1)
                    {
                        <div class="@confirmBodyClass">
                            @Html.Partial("~/Views/SimpleCurrencyExchange/EnterData_Confirm.cshtml", Model)
                        </div>
                    }
                </div>
            </div>
        }
        if (Model.WorkflowStage == 3)
        {
            <div class="row setup-content">
                <div class="col-xs-12">
                    <div class="col-md-12 text-center">
                        @Html.Partial("~/Views/SimpleCurrencyExchange/EnterData_Summary.cshtml", Model)
                    </div>
                </div>
            </div>
        }
    }
</div>