@model FlatFXWebClient.ViewModels.SimpleCurrencyExchangeViewModel
@using FlatFXCore.BussinessLayer;

<div class="panel-danger form-horizontal simple-trading-confirm">
    <div class="panel-heading">
        <h3 class="panel-title">@FlatFXResources.Resources.ConfirmYourDeal</h3>
    </div>
    <div class="panel-body">

        <div>
            @Html.ValidationSummary("", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label class="control-label col-md-6">@FlatFXResources.Resources.OrderID:</label>
            <div class="col-md-6 order-value">@Model.deal.DealId</div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-6">@FlatFXResources.Resources.CompanyName:</label>
            <div class="col-md-6 order-value">
                @Model.deal.CompanyAccount.Company.CompanyName
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-6">@FlatFXResources.Resources.BankAccount:</label>
            <div class="col-md-6 order-value">
                @Model.deal.ChargedProviderAccount.Provider.FullName @Model.deal.ChargedProviderAccount.AccountName
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-6">@FlatFXResources.Resources.UserName:</label>
            <div class="col-md-6 order-value">
                @Model.deal.user.FullName
            </div>
        </div>
        <div class="form-group green">
            <label class="control-label col-md-6">@FlatFXResources.Resources.BuyAmount:</label>
            <div class="col-md-6 order-value">
                @Model.deal.AmountToExchangeCreditedCurrency.ToString("N0") @Model.deal.CreditedCurrency
            </div>
        </div>
        <div class="form-group red">
            <label class="control-label col-md-6">@FlatFXResources.Resources.SellAmount:</label>
            <div class="col-md-6 order-value">
                @Model.deal.AmountToExchangeChargedCurrency.ToString("N0") @Model.deal.ChargedCurrency
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-6">@FlatFXResources.Resources.WeTradedAt:</label>
            <div class="col-md-6 order-value">
                @Model.deal.OfferingDate
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-6">@FlatFXResources.Resources.YourRateWas:</label>
            <div class="col-md-6 order-value">
                @Model.deal.CustomerRate
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-6">@FlatFXResources.Resources.YouSave*:</label>
            <div class="col-md-6 order-value">
                @Model.deal.CustomerTotalProfitUSD$
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-6">@FlatFXResources.Resources.FlatFXCommission:</label>
            <div class="col-md-6 order-value">
                @(Model.deal.FlatFXTotalProfitUSD + Model.deal.BankTotalProfitUSD)$
            </div>
        </div>
        
        <div class="form-group">
            <label class="control-label col-md-6">@FlatFXResources.Resources.SettlementDate:</label>
            <div class="col-md-6 order-value">
                @Model.deal.OfferingDate.AddDays(1).ToShortDateString() 13:00
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-6">@FlatFXResources.Resources.Provider:</label>
            <div class="col-md-6 order-value">
                FlatFX
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-6">@FlatFXResources.Resources.Comment:</label>
            <div class="col-md-6 order-value">
                @Model.deal.Comment
            </div>
        </div>
        <div class="form-group">
            <br />
            <div class="text-center col-md-12">
                <div class="end-align col-md-2">
                    <span id="confirm-countdown" class="countdown-enabled">{{ CountDown }}</span>
                </div>
                <div class="col-md-10 start-align">
                    @if (ApplicationInformation.Instance.IsDemoUser)
                    {
                        <input id="confirm-submit" type="submit" value="@FlatFXResources.Resources.ConfirmYourDEMODeal" class="btn btn-primary" />
                    }
                    else
                    {
                        <input id="confirm-submit" type="submit" value="@FlatFXResources.Resources.ConfirmYourDeal" class="btn btn-primary" />
                        <br />
                        <remark>@FlatFXResources.Resources.TheFunds @DateTime.Now.AddDays(1).ToShortDateString() @FlatFXResources.Resources.At 13:00</remark>
                    }

                    <br />
                    <a id="confirm-reorder" class="btn btn-primary" href="@Url.Action("EnterData", "SimpleCurrencyExchange")">@FlatFXResources.Resources.CreateNewOrder</a>
                </div>
            </div>
        </div>
    </div>
</div>